Repository Sonia-corporation/sonia-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

chore(deps): update dependency eslint-plugin-rxjs to v2.1.5
  package-lock.json
  package.json
Due: npm run prettier

test(text): add coverage for getDiscordMessageResponse method
  src/features/discord/messages/services/types/discord-message-text.service.spec.ts
Due: npm run lint

test(utils): add my first jest function!
  .eslintignore
  jest.config.js
  jest/config.ts
  jest/helpers.d.ts
  jest/helpers.js
  jest/test.ts
  src/features/discord/messages/services/types/discord-message-text.service.spec.ts
  tsconfig.json
Due: npm run lint, npm run prettier

test(text): add coverage for getSoniaMentionMessageResponse method
  src/features/discord/messages/services/types/discord-message-text.service.spec.ts
  src/features/discord/messages/services/types/discord-message-text.service.ts
Due: npm run lint

test(messages): fix the tests due to the new generic type
  src/features/discord/messages/classes/messages.spec.ts
Due: npm run lint

chore(ping-pong): add more responses
  src/features/discord/messages/enums/discord-message-ping-pong-response-messages.enum.spec.ts
  src/features/discord/messages/enums/discord-message-ping-pong-response-messages.enum.ts
Due: npm run lint

test(enum): fix test failing
  src/features/discord/messages/enums/discord-message-ping-pong-response-messages.enum.spec.ts
  src/features/discord/messages/enums/discord-message-ping-pong-response-messages.enum.ts
Due: npm run lint

build(release): new version 1.90.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

Notes added by 'git notes add'
  e7/05b3104221b8bcd884ecb9e37b3cf737a93462
Due: none

chore(enum): add a function to get the length of a string enum
  src/functions/checks/get-string-enum-length.spec.ts
  src/functions/checks/get-string-enum-length.ts
Due: npm run lint

test(enum): fix test on error
  src/features/firebase/enums/guilds/channels/firebase-guild-channel-version.enum.spec.ts
Due: npm run lint

test(enum): fix test on error
  src/features/firebase/enums/guilds/channels/features/firebase-guild-channel-feature-noon-version.enum.spec.ts
  src/features/firebase/enums/guilds/channels/firebase-guild-channel-version.enum.spec.ts
Due: npm run lint

chore(npm): enhance concurrently to use time and colors
  package.json
Due: npm run prettier

chore(deps): update dependency @datorama/akita to v5.3.0
  package-lock.json
  package.json
Due: npm run prettier

feat(responses): respond Trivago to hotel in DM and channels
  README.md
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/messages/constants/discord-message-hotel-trivago-response-messages.spec.ts
  src/features/discord/messages/constants/discord-message-hotel-trivago-response-messages.ts
  src/features/discord/messages/enums/discord-message-hotel-trivago-response-messages.enum.spec.ts
  src/features/discord/messages/enums/discord-message-hotel-trivago-response-messages.enum.ts
  src/features/discord/messages/enums/discord-message-ping-pong-response-messages.enum.spec.ts
  src/features/discord/messages/interfaces/discord-message-hotel-trivago-response-message.ts
  src/features/discord/messages/services/responses/discord-message-hotel-trivago.service.spec.ts
  src/features/discord/messages/services/responses/discord-message-hotel-trivago.service.ts
  src/features/discord/messages/services/types/discord-message-dm.service.spec.ts
  src/features/discord/messages/services/types/discord-message-dm.service.ts
  src/features/discord/messages/services/types/discord-message-text.service.spec.ts
  src/features/discord/messages/services/types/discord-message-text.service.ts
Due: npm run lint, npm run prettier

build(release): new version 1.91.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

Notes added by 'git notes add'
  77/3551c954984f617b155248ee5a8bfa8d4553d4
Due: none

chore(deps): update dependency jest-silent-reporter to v0.4.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency cross-env to v7.0.3
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-prettier to v3.2.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency lint-staged to v10.5.3
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint to v7.15.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update typescript-eslint monorepo to v4.9.0
  package-lock.json
  package.json
Due: npm run prettier

chore(lint): fix end of line error with prettier on ts files
  .eslintrc
Due: none

chore(lint): add createInstance as a global
  .eslintrc
  jest/helpers.d.ts
Due: npm run lint

docs(readme): add information about the release notes feature
  README.md
Due: npm run prettier

chore(deps): update dependency husky to v4.3.4
  package-lock.json
  package.json
Due: npm run prettier

test(release-notes): fix a bunch of failing tests
  src/features/discord/messages/enums/discord-message-config-value-name.enum.spec.ts
  src/features/discord/messages/enums/discord-message-config-value-name.enum.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-help.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/enums/discord-message-command-feature-release-notes-humanize-disabled-messages.enum.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/services/config/discord-message-command-feature-release-notes-config-core.service.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/services/discord-message-command-feature-release-notes.service.spec.ts
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-empty-feature-name-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-wrong-feature-name-error.service.spec.ts
  src/features/firebase/constants/guilds/channels/features/firebase-guild-channel-feature-current-version.spec.ts
  src/features/firebase/constants/guilds/channels/firebase-guild-channel-current-version.spec.ts
  src/features/firebase/constants/guilds/firebase-guild-current-version.spec.ts
  src/features/firebase/enums/guilds/channels/features/firebase-guild-channel-feature-version.enum.spec.ts
  src/features/firebase/functions/guilds/is-up-to-date-firebase-guild.spec.ts
  src/features/firebase/services/guilds/firebase-guilds.service.spec.ts
Due: npm run lint

feat(help-command): add better description for the feature command
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.ts
Due: npm run lint

chore(deps): update dependency eslint-config-prettier to v7
  package-lock.json
  package.json
Due: npm run prettier

fix(feature): allow to have kebab-case feature names
  src/features/discord/messages/functions/commands/regexp/discord-get-command-with-first-argument-and-flags-regexp.spec.ts
  src/features/discord/messages/functions/commands/regexp/discord-get-command-with-first-argument-and-flags-regexp.ts
  src/features/discord/messages/functions/commands/regexp/discord-get-command-with-first-argument-regexp.spec.ts
  src/features/discord/messages/functions/commands/regexp/discord-get-command-with-first-argument-regexp.ts
Due: npm run lint

chore(deps): update dependency husky to v5
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency husky to v4.3.5
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update typescript-eslint monorepo to v4.9.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency xregexp to v4.4.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/node to v14.14.11
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency ts-auto-mock to v2.7.0
  package-lock.json
  package.json
Due: npm run prettier

Path conditions:
  npm run lint: any of: *.{ts,js}
  npm run prettier: any of: *.{md,json,yml}
