Repository Sonia-corporation/sonia-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

refactor(jest): change the configuration due to breaking changes
  jest.config.ts
Due: npm run lint

chore: update package lock
  package-lock.json
Due: npm run prettier

chore(npm): only publish the index and map from the dist
  package.json
Due: npm run prettier

chore(eslint): add new rules for jest
  .eslintrc.yml
Due: npm run prettier

refactor: auto-fix eslint errors
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/node/functions/get-argument-index.spec.ts
Due: npm run lint

chore(jest): extend all jest-extended rules
  jest.config.ts
Due: npm run lint

build(ci): automatically set the node version from the package
  .github/workflows/build.yml
  .github/workflows/mutant.yml
  .github/workflows/release.yml
  .husky/_/husky.sh
Due: npm run prettier

build(ci): automatically set the node version from .nvmrc (#1817)
  .github/workflows/build.yml
  .github/workflows/mutant.yml
  .github/workflows/release.yml
  .husky/_/husky.sh
Due: npm run prettier

chore(deps): migrate semantic release majors
  package-lock.json
  package.json
Due: npm run prettier

refactor: fix last errors
  src/features/discord/activities/services/discord-activity-sonia.service.spec.ts
  src/features/discord/channels/functions/is-discord-dm-channel.ts
  src/features/discord/channels/functions/is-discord-text-channel.ts
  src/features/discord/channels/services/discord-channel.service.ts
  src/features/discord/guilds/services/discord-guild-create.service.spec.ts
  src/features/discord/guilds/services/discord-guild.service.ts
  src/features/discord/logger/services/__mocks__/discord-logger-error.service.ts
  src/features/discord/logger/services/discord-logger-error.service.ts
  src/features/discord/messages/services/command/cookie/services/__mocks__/discord-message-command-cookie.service.ts
  src/features/discord/messages/services/command/feature/features/noon/services/discord-message-command-feature-noon.service.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-enabled.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-status.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/services/discord-message-command-feature-release-notes.service.ts
  src/features/discord/messages/services/discord-message.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon-count-message-response.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon.service.spec.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count-message-response.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
  src/features/quote/services/quote-error-api.service.spec.ts
Due: npm run lint

refactor: change the way to create promises to spot earlier typing issues
  src/features/discord/messages/services/command/cookie/services/discord-message-command-cookie.service.ts
  src/features/discord/messages/services/command/discord-message-command-cli-error.service.ts
  src/features/discord/messages/services/command/error/discord-message-command-error.service.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-status.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-humanize.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-status.ts
  src/features/discord/messages/services/command/lunch/services/discord-message-command-lunch.service.ts
  src/features/discord/messages/services/command/quote/services/discord-message-command-quote.service.ts
  src/features/discord/messages/services/command/release-notes/discord-message-command-release-notes.service.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.ts
  src/features/discord/messages/services/helpers/discord-message-error.service.spec.ts
  src/features/discord/messages/services/helpers/discord-message-help.service.ts
  src/features/discord/messages/services/responses/discord-message-any-question-pineapple-pizza.service.ts
  src/features/discord/messages/services/responses/discord-message-author.service.ts
  src/features/discord/messages/services/responses/discord-message-hotel-trivago.service.ts
  src/features/discord/messages/services/responses/discord-message-ping-pong.service.ts
  src/features/discord/messages/services/responses/discord-message-simple-basic.service.ts
  src/features/discord/messages/services/types/discord-message-text.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
Due: npm run lint

chore: configure the client intents
  src/features/discord/services/discord-client.service.ts
Due: npm run lint

refactor: change some channel types
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-humanize.spec.ts
Due: npm run lint

refactor: change the way to create embeds to spot earlier typing issues
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-help.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-help.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-humanize.ts
  src/features/discord/messages/services/command/feature/services/discord-message-command-feature-empty-content-error.service.ts
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-empty-feature-name-error.service.ts
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-wrong-feature-name-error.service.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-duplicated-flags-error.service.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-empty-flags-error.service.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-opposite-flags-error.service.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-wrong-flags-error.service.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.ts
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/messages/services/helpers/discord-message-error.service.ts
  src/features/quote/services/quote-error-api.service.ts
Due: npm run lint

refactor: change the way to start typing
  src/features/discord/channels/services/discord-channel-typing.service.spec.ts
  src/features/discord/channels/services/discord-channel-typing.service.ts
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/messages/services/discord-message.service.ts
Due: npm run lint

refactor: rename CUSTOM_STATUS
  src/features/discord/activities/enums/discord-activity-type.enum.spec.ts
  src/features/discord/activities/enums/discord-activity-type.enum.ts
Due: npm run lint

refactor: fix a bunch of issues
  src/features/discord/activities/services/discord-activity-sonia.service.spec.ts
  src/features/discord/activities/services/discord-activity-sonia.service.ts
  src/features/discord/channels/functions/is-discord-thread-channel.spec.ts
  src/features/discord/channels/functions/is-discord-thread-channel.ts
  src/features/discord/channels/functions/types/is-discord-guild-channel-writable.ts
  src/features/discord/guilds/services/discord-guild-create.service.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.ts
  src/features/discord/guilds/services/discord-guild-sonia.service.ts
  src/features/discord/logger/services/discord-logger-warning.service.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-disabled.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-enabled.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-status.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/services/discord-message-command-feature-noon.service.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-disabled.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/services/discord-message-command-feature-release-notes.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint

refactor: refactor the presence from async to sync
  src/features/discord/activities/services/discord-activity-sonia.service.spec.ts
  src/features/discord/activities/services/discord-activity-sonia.service.ts
Due: npm run lint

refactor: refactor the syntax when calling send
  src/features/discord/guilds/services/discord-guild-create.service.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.ts
  src/features/discord/guilds/services/discord-guild-sonia.service.ts
  src/features/discord/messages/services/discord-message.service.ts
  src/features/discord/messages/services/helpers/discord-message-error.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint

refactor(embeds): refactor some embeds to use the new syntax
  src/features/discord/logger/services/discord-logger-error.service.spec.ts
  src/features/discord/logger/services/discord-logger-warning.service.spec.ts
  src/features/discord/messages/services/command/cookie/services/discord-message-command-cookie.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-cli-error.service.spec.ts
  src/features/discord/messages/services/command/error/discord-message-command-error.service.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-help.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-help.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-humanize.spec.ts
  src/features/discord/messages/services/command/feature/services/discord-message-command-feature-empty-content-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-empty-feature-name-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-wrong-feature-name-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-duplicated-flags-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-empty-flags-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-opposite-flags-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-wrong-flags-error.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/lunch/services/discord-message-command-lunch.service.spec.ts
  src/features/discord/messages/services/command/quote/services/discord-message-command-quote.service.spec.ts
  src/features/discord/messages/services/command/release-notes/discord-message-command-release-notes.service.spec.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.spec.ts
  src/features/discord/messages/services/helpers/discord-message-error.service.ts
  src/features/discord/messages/services/helpers/discord-message-help.service.spec.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon-count-message-response.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count-message-response.service.spec.ts
  src/features/quote/services/quote-error-api.service.spec.ts
Due: npm run lint

refactor: include thread channel in general channel
  src/features/discord/channels/functions/types/is-discord-guild-channel-writable.spec.ts
  src/features/discord/channels/services/discord-channel-guild.service.ts
Due: npm run lint

chore(deps): migrate to discord 13.0
  package-lock.json
  package.json
Due: npm run prettier

build: migrate to parcel 2
  .eslintignore
  .gitignore
  .parcelrc
  .prettierignore
  package-lock.json
  package.json
Due: npm run prettier

refactor: add multiple tsconfig files
  .eslintrc.yml
  .lintstagedrc
  package-lock.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: npm run prettier

chore(git): configure the git attributes
  .gitattributes
Due: none

refactor: migrate scripts to esm
  .eslintrc.yml
  .gitattributes
  .lintstagedrc
  package.json
  scripts/build-environment-copy.mjs
  scripts/build-environment-create.mjs
  scripts/build-environment-rewrite-path.mjs
  scripts/build-firebase-service-account-copy.mjs
  scripts/build-firebase-service-account-create.mjs
  scripts/build-update-app-initialization-date.mjs
  scripts/chalk.mjs
  scripts/commitizen.cjs
  scripts/create-secret-environment.mjs
  scripts/logger.mjs
Due: npm run prettier

chore(deps): migrate to chalk 5
  package-lock.json
  package.json
Due: npm run prettier

chore(chalk): fix chalk issues
  src/features/discord/functions/dev-prefix/add-discord-dev-prefix.ts
  src/features/logger/constants/chalk/chalk-instance.ts
  src/features/logger/services/chalk/__mocks__/chalk.service.ts
  src/features/logger/services/chalk/chalk-color.service.spec.ts
  src/features/logger/services/chalk/chalk-color.service.ts
  src/features/logger/services/chalk/chalk.service.ts
  tsconfig.json
Due: npm run lint, npm run prettier

chore(deps): migrate to typescript 4.7
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): migrate to discord 13.12
  package-lock.json
  package.json
Due: npm run prettier

build: migrate from parcel 2 to vercel
  .eslintignore
  .idea/il-est-midi.iml
  .parcelrc
  .prettierignore
  jest.config.ts
  package.json
  scripts/build-environment-rewrite-path.mjs
  src/features/init/services/init.service.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: npm run lint, npm run prettier

refactor: add readonly on interface
  src/features/discord/functions/dev-prefix/get-discord-dev-prefix.ts
  src/features/discord/interfaces/dev-prefix/get-discord-dev-prefix.ts
Due: npm run lint

chore(eslint): migrate to eslint 8
  package-lock.json
  package.json
  src/classes/stores/abstract-entity-store.service.spec.ts
  src/classes/stores/abstract-entity-store.service.ts
  src/features/discord/interfaces/dev-prefix/get-discord-dev-prefix.ts
  src/features/firebase/stores/guilds/firebase-guilds-store.ts
  src/features/firebase/stores/guilds/services/firebase-guilds-store.service.spec.ts
  src/features/firebase/stores/guilds/services/firebase-guilds-store.service.ts
Due: npm run lint, npm run prettier

chore(eslint): add new rules for the imports
  .eslintrc.yml
  jest.config.ts
Due: npm run lint, npm run prettier

chore: improve the logs and checks
  src/features/discord/channels/functions/is-discord-news-channel.spec.ts
  src/features/discord/channels/functions/is-discord-news-channel.ts
  src/features/discord/channels/functions/is-discord-text-channel.spec.ts
  src/features/discord/channels/functions/is-discord-text-channel.ts
  src/features/discord/channels/functions/is-discord-thread-channel.ts
  src/features/discord/channels/functions/is-discord-writable-channel.spec.ts
  src/features/discord/channels/functions/is-discord-writable-channel.ts
  src/features/discord/guilds/services/discord-guild-sonia.service.ts
Due: npm run lint

chore(eslint): add new rules
  .eslintrc.yml
Due: npm run prettier

Path conditions:
  npm run lint: any of: *.{ts,js}
  npm run prettier: any of: *.{md,json,yml}
