Repository Sonia-corporation/sonia-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint"
  ],
  "*.{md,json,yml}": [
    "npm run prettier"
  ]
}

chore(release): add better JSDoc for a function
  src/features/github/functions/get-humanized-release-notes.ts
Due: npm run lint

chore(jest): create shared webstorm test runners
  .run/All Tests Watch.run.xml
  .run/All Tests.run.xml
Due: none

chore(deps): migrate to firebase admin 11.2.0
  package-lock.json
  package.json
Due: npm run prettier

fix(database): fix an issue with the database initialization
  package-lock.json
  src/features/firebase/services/firebase-app.service.ts
Due: npm run lint, npm run prettier

fix(release-notes): format properly the release notes in CLRF format
  src/features/github/functions/get-humanized-release-notes.spec.ts
  src/features/github/functions/get-humanized-release-notes.ts
Due: npm run lint

refactor: extract the function to check if the message content is good
  src/features/discord/messages/functions/is-discord-text-message.spec.ts
  src/features/discord/messages/functions/is-discord-valid-text-message.ts
  src/features/discord/messages/services/discord-message.service.ts
Due: npm run lint

chore(logs): add a warning log when a text message cannot be processed
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/messages/services/discord-message.service.ts
Due: npm run lint

chore: add casting on firebase update to avoid typing issue
  src/features/firebase/services/guilds/firebase-guilds-breaking-change.service.ts
Due: npm run lint

chore(renovate): group jest and jest types major
  .renovaterc.json
Due: npm run prettier

chore(deps): update some jest dependencies to match the 27 major
  .renovaterc.json
  package-lock.json
  package.json
Due: npm run prettier

refactor(jest): switch to a ts jest config file and add typing
  jest.config.ts
  tsconfig.json
Due: npm run lint, npm run prettier

build(ci): use 100% of the worker capacity to run the tests
  package.json
Due: npm run prettier

test: resolve instead of reject to avoid opened handled test
  src/features/discord/messages/services/discord-message.service.spec.ts
Due: npm run lint

build(ci): add codeql analysis
  .github/workflows/codeql-analysis.yml
Due: npm run prettier

build(release): new version 1.99.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

Notes added by 'git notes add'
  5e/c26d4e0abd43c250c3f27652fcfefcca060c80
Due: none

build(ci): add codeql analysis (#1725)
  .github/workflows/codeql-analysis.yml
Due: npm run prettier

refactor(codeql): throw an error if the PAT is still set to unknown
  src/features/github/interfaces/github-config.ts
  src/features/github/services/config/github-config-core.service.ts
  src/features/github/services/config/github-config-mutator.service.spec.ts
  src/features/github/services/config/github-config-mutator.service.ts
  src/features/github/services/config/github-config.service.spec.ts
  src/features/github/services/config/github-config.service.ts
  src/features/github/types/personal-access-token.ts
  src/features/github/types/secret-personal-access-token.ts
  src/features/init/services/init.service.ts
Due: npm run lint

chore(renovate): only rebase on conflict
  .renovaterc.json
Due: npm run prettier

refactor(axios): use a better type to build the headers
  src/features/quote/services/quote-api.service.ts
Due: npm run lint

chore(eslint): configure new jest rules
  .eslintrc.yml
Due: npm run prettier

chore(renovate): group some major eslint dependencies
  .renovaterc.json
Due: npm run prettier

chore(renovate): fix bad grouping for semantic release
  .renovaterc.json
Due: npm run prettier

refactor: change the way to create a random long word
  package-lock.json
  package.json
  src/features/discord/logger/services/discord-logger-error.service.spec.ts
Due: npm run lint, npm run prettier

chore(eslint): configure some new rules for jest
  .eslintrc.yml
Due: npm run prettier

chore(deps): migrate jest-extended to v2
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): add eslint-plugin-jest-extended
  package-lock.json
  package.json
Due: npm run prettier

chore(eslint): configure jest extended
  .eslintrc.yml
  jest.config.ts
Due: npm run lint, npm run prettier

chore(concurrently): add timings and colors for all scripts and fix prefix
  package.json
Due: npm run prettier

refactor(axios): change some models due to a breaking change
  src/features/quote/services/quote-api.service.ts
Due: npm run lint

chore(axios): fix a jest issue with axios
  jest.config.ts
Due: npm run lint

chore(pat): get rid of the throw when the PAT is set to unknown
  src/features/github/services/config/github-config.service.spec.ts
  src/features/github/services/config/github-config.service.ts
  src/features/github/types/personal-access-token.ts
  src/features/github/types/secret-personal-access-token.ts
  src/features/init/services/init.service.ts
Due: npm run lint

chore(akita): fix jest config to work with Akita 7
  jest.config.ts
Due: npm run lint

refactor(rxjs): get rid of toPromise to fix typing issues
  src/features/discord/activities/services/discord-activity-sonia.service.ts
  src/features/discord/authentications/services/discord-authentication.service.spec.ts
  src/features/discord/emotional-states/services/discord-sonia-emotional-state.service.ts
  src/features/discord/guilds/services/discord-guild-create.service.ts
  src/features/discord/services/discord-client.service.spec.ts
  src/features/discord/services/discord-client.service.ts
  src/features/firebase/services/guilds/firebase-guilds-breaking-change.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-breaking-change.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
  src/features/firebase/services/guilds/firebase-guilds.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds.service.ts
  src/features/firebase/stores/guilds/services/firebase-guilds-store.query.ts
  src/features/init/services/init.service.spec.ts
  src/features/init/services/init.service.ts
Due: npm run lint

chore(eslint): add new rules
  .eslintrc.yml
Due: npm run prettier

refactor(eslint): fix some issues
  .eslintrc.yml
  package-lock.json
  src/features/discord/messages/services/command/feature/constants/discord-message-command-feature-name-noon.ts
  src/features/discord/messages/services/command/feature/constants/discord-message-command-feature-name-release-notes.ts
  src/features/discord/messages/services/command/feature/constants/discord-message-command-feature-names.ts
  src/features/discord/messages/services/command/feature/features/noon/constants/discord-message-command-feature-noon-flags.ts
  src/features/discord/messages/services/command/feature/features/release-notes/constants/discord-message-command-feature-release-notes-flags.ts
Due: npm run lint, npm run prettier

refactor(eslint): fix some issues
  .eslintrc.yml
  scripts/build-environment-rewrite-path.js
  src/features/discord/logger/services/discord-logger-error.service.spec.ts
  src/features/discord/messages/classes/messages.spec.ts
  src/features/discord/messages/classes/messages.ts
  src/features/discord/messages/services/helpers/discord-message-error.service.spec.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon-count.service.ts
  src/features/firebase/enums/guilds/channels/features/firebase-guild-channel-feature-noon-version.enum.ts
  src/features/firebase/enums/guilds/channels/features/firebase-guild-channel-feature-release-notes-version.enum.ts
  src/features/firebase/enums/guilds/channels/features/firebase-guild-channel-feature-version.enum.ts
  src/features/firebase/enums/guilds/channels/firebase-guild-channel-version.enum.ts
  src/features/firebase/enums/guilds/firebase-guild-version.enum.ts
  src/features/firebase/services/firebase-update-core.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count.service.ts
  src/features/quote/enums/quote-error-api-error-code.enum.ts
Due: npm run lint, npm run prettier
