Repository Sonia-corporation/sonia-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

chore(deps): update dependency xregexp to v5
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update typescript-eslint monorepo to v4.15.2
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-jest to v24.1.10
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency rxjs to v6.6.7
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency ts-auto-mock to v3.1.2
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-import-resolver-typescript to v2.4.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-rxjs to v3.1.4
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @semantic-release/github to v7.2.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update typescript-eslint monorepo to v4.21.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-rxjs to v3.1.5
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint to v7.24.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency ts-jest to v26.5.4
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-config-prettier to v8
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency ts-jest to v26.5.5
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update stryker monorepo to v4.6.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-prettier to v3.4.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update npm to v6.14.13
  package.json
Due: npm run prettier

chore(deps): update npm to v7
  package.json
Due: npm run prettier

chore(deps): update dependency chalk to v4.1.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency ts-auto-mock to v3.1.3
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint to v7.25.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update typescript-eslint monorepo to v4.22.0
  package-lock.json
  package.json
Due: npm run prettier

feat(sonia-guild): send message in logs channel for release notes count
  package-lock.json
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count-humanized.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count-humanized.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count-message-response.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count-message-response.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count.service.ts
Due: npm run lint, npm run prettier

chore(firebase): send the release notes message based on the config
  src/features/firebase/services/firebase.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint

test(firebase): add coverage for sendMessageResponse method
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint

test(firebase): add coverage for getMessageResponse method
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
Due: npm run lint

test(firebase): add coverage for sendNewReleaseNotesFromFirebaseGuild method
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint

test(firebase): add coverage for sendNewReleaseNotesFromDiscordGuild method
  src/features/firebase/services/guilds/firebase-guilds-new-version-count.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint

test(firebase): add coverage for isValidGuild method
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
Due: npm run lint

test(firebase): remove old tests
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
Due: npm run lint

test(fix): fix bad types in the test
  src/features/firebase/services/guilds/firebase-guilds-new-version-count.service.spec.ts
Due: npm run lint

build(release): new version 1.92.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

Notes added by 'git notes add'
  58/944cbfba342d492a16d865617e464ead4dcaa2
Due: none

chore(deps): update dependency pug to v3.0.1 [security]
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/fs-extra to v9.0.11
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/node to v14.14.41
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/ws to v7.4.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency discord.js to v12.5.3
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-jsdoc to v32.3.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/jest to v26.0.22
  package-lock.json
  package.json
Due: npm run prettier

Path conditions:
  npm run lint: any of: *.{ts,js}
  npm run prettier: any of: *.{md,json,yml}
