Repository Sonia-corporation/sonia-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint"
  ],
  "*.{md,json,yml}": [
    "prettier --write"
  ]
}

chore(eslint): reduce indent space
  .eslintrc
Due: none

chore(deps): update dependency @types/fs-extra to v9.0.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-jest to v24.1.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency firebase-admin to v9.4.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency firebase-admin to v9.4.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @semantic-release/github to v7.1.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency moment-timezone to v0.5.32
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @typescript-eslint/eslint-plugin to v4.8.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @typescript-eslint/parser to v4.8.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency semantic-release to v17.2.3
  package-lock.json
  package.json
Due: prettier --write

build(lint): make sure to run the hook lint scripts with lintstaged
  .lintstagedrc
Due: none

build(lint): ignore more files
  .eslintignore
Due: none

build(lint): enable bracket spacing for prettier to avoid eslint error
  .prettierrc
  app.json
  stryker.conf.json
  test.ts
Due: npm run lint, prettier --write

build(lint): install a progress reporter for eslint
  .eslintrc
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v4.8.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @semantic-release/github to v7.2.0
  package-lock.json
  package.json
Due: prettier --write

style(lint): use a better notation to glob the files
  package.json
Due: prettier --write

chore: testing the hook for json
  package.json
Due: prettier --write

fix(typography): add missing dot for the flag error messages title
  package.json
  src/features/discord/messages/services/command/feature/services/discord-message-command-feature-empty-content-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/discord-message-command-feature-error-core.service.ts
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-empty-feature-name-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-wrong-feature-name-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-duplicated-flags-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-empty-flags-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-opposite-flags-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-wrong-flags-error.service.spec.ts
Due: npm run lint, prettier --write

fix(typography): add missing dot for the noon feature success messages title
  src/features/discord/messages/services/command/feature/features/noon/services/discord-message-command-feature-noon.service.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/services/discord-message-command-feature-noon.service.ts
Due: npm run lint

chore(lint): remove dedicated lint script for the hooks
  package.json
Due: prettier --write

feat(noon): add humanize flag to display the current state of the feature
  .idea/il-est-midi.iml
  .lintstagedrc
  src/enums/class-name.enum.spec.ts
  src/enums/class-name.enum.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.ts
  src/features/discord/messages/services/command/feature/features/noon/constants/discord-message-command-feature-noon-flags.ts
  src/features/discord/messages/services/command/feature/features/noon/enums/discord-message-command-feature-noon-flag.enum.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/enums/discord-message-command-feature-noon-flag.enum.ts
  src/features/firebase/types/guilds/channels/features/firebase-guild-channel-feature-noon-state.ts
Due: npm run lint

test(noon-help): add tests for the new humanize flag
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-help.spec.ts
Due: npm run lint

test(noon): add more tests for the humanize flag addition
  src/features/discord/messages/services/command/feature/features/noon/constants/discord-message-command-feature-noon-flags.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-empty-flags-error.service.spec.ts
Due: npm run lint

docs(readme): add docs for the humanize noon flag
  README.md
Due: prettier --write

chore(lint): undo the remove of hook scripts
  .lintstagedrc
  package.json
Due: prettier --write

build(release): new version 1.87.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e9/5d547fe3e0d806a3cca0d10d57574bbf24788c
Due: none

chore(deps): update dependency @types/node to v14.14.8
  package-lock.json
  package.json
Due: prettier --write

feat(noon): don't display the noon feature in backticks in the messages
  src/features/discord/messages/classes/commands/flags/discord-command-flags.spec.ts
  src/features/discord/messages/classes/commands/flags/discord-command-flags.ts
  src/features/discord/messages/enums/commands/flags/discord-command-flag-success-description.enum.spec.ts
  src/features/discord/messages/enums/commands/flags/discord-command-flag-success-description.enum.ts
  src/features/discord/messages/services/command/feature/discord-message-command-feature.service.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-disabled.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-enabled.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-help.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-help.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.ts
  src/features/discord/messages/services/command/feature/features/noon/services/discord-message-command-feature-noon-enabled-success-flag.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-empty-flags-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-empty-flags-error.service.ts
Due: npm run lint

feat(noon): add more message variation for the humanize flag
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.ts
  src/features/discord/messages/services/command/feature/features/noon/constants/discord-message-command-feature-noon-humanize-disabled-messages.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/constants/discord-message-command-feature-noon-humanize-disabled-messages.ts
  src/features/discord/messages/services/command/feature/features/noon/constants/discord-message-command-feature-noon-humanize-enabled-messages.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/constants/discord-message-command-feature-noon-humanize-enabled-messages.ts
  src/features/discord/messages/services/command/feature/features/noon/enums/discord-message-command-feature-noon-humanize-disabled-messages.enum.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/enums/discord-message-command-feature-noon-humanize-disabled-messages.enum.ts
  src/features/discord/messages/services/command/feature/features/noon/enums/discord-message-command-feature-noon-humanize-enabled-messages.enum.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/enums/discord-message-command-feature-noon-humanize-enabled-messages.enum.ts
Due: npm run lint

test(noon): reorder the enum tests to match the sort of the enum
  src/features/discord/messages/services/command/feature/features/noon/enums/discord-message-command-feature-noon-humanize-disabled-messages.enum.spec.ts
Due: npm run lint

build(release): new version 1.88.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  de/611691aebb1221dcea3489c387f8dfd0448f11
Due: none

chore(deps): update dependency @types/node to v14.14.9
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v4.1.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency semantic-release to v17.2.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-rxjs to v2.1.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v7.14.0
  package-lock.json
  package.json
Due: prettier --write

feat(noon): add status flag
  README.md
  src/enums/class-name.enum.spec.ts
  src/enums/class-name.enum.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-help.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-status.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-status.ts
  src/features/discord/messages/services/command/feature/features/noon/constants/discord-message-command-feature-noon-flags.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/constants/discord-message-command-feature-noon-flags.ts
  src/features/discord/messages/services/command/feature/features/noon/enums/discord-message-command-feature-noon-flag.enum.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/enums/discord-message-command-feature-noon-flag.enum.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-empty-flags-error.service.spec.ts
Due: npm run lint, prettier --write
