Repository Sonia-corporation/sonia-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint"
  ],
  "*.{md,json,yml}": [
    "npm run prettier"
  ]
}

chore(deps): update dependency dotenv to v9.0.1
  package-lock.json
  package.json
Due: npm run prettier

Revert "refactor(firebase): make an init method return a promise instead of void"
  src/features/firebase/services/firebase.service.ts
  src/features/firebase/stores/guilds/services/firebase-guilds-store.service.spec.ts
  src/features/firebase/stores/guilds/services/firebase-guilds-store.service.ts
Due: npm run lint

refactor(subscribes): register the subscriptions
  .eslintrc.yml
  src/classes/auto-unsubscribe.ts
  src/classes/services/abstract.service.ts
  src/features/core/services/core-event.service.ts
  src/features/discord/guilds/services/discord-guild-sonia.service.ts
  src/features/firebase/stores/guilds/services/firebase-guilds-store.service.ts
  src/features/logger/services/logger.service.ts
Due: npm run lint, npm run prettier

chore(deps): update dependency eslint-plugin-jsdoc to v33.1.1
  package-lock.json
  package.json
Due: npm run prettier

chore(github): remove unused interface
  src/features/github/interfaces/github-releases-latest-and-total-count.ts
Due: npm run lint

refactor(subscription): change method accessibility to protected
  src/classes/auto-unsubscribe.ts
Due: npm run lint

chore(config): add the release type into the config
  src/features/app/enums/app-config-release-type.enum.spec.ts
  src/features/app/enums/app-config-release-type.enum.ts
  src/features/app/enums/app-config-value-name.enum.spec.ts
  src/features/app/enums/app-config-value-name.enum.ts
  src/features/app/interfaces/app-config.ts
  src/features/app/services/config/app-config-core.service.spec.ts
  src/features/app/services/config/app-config-core.service.ts
  src/features/app/services/config/app-config-mutator.service.spec.ts
  src/features/app/services/config/app-config-mutator.service.ts
  src/features/app/services/config/app-config.service.spec.ts
  src/features/app/services/config/app-config.service.ts
  src/features/app/types/app-updatable-config.ts
  src/features/core/services/core-event.service.ts
  src/features/discord/guilds/services/discord-guild-sonia.service.ts
  src/features/firebase/stores/guilds/services/firebase-guilds-store.service.ts
  src/features/logger/services/logger.service.ts
Due: npm run lint

chore(regexp): add new regexp to match a release type block
  src/functions/formatters/get-release-type-block-regexp.spec.ts
  src/functions/formatters/get-release-type-block-regexp.ts
Due: npm run lint

chore(regexp): add new regexp to extract the list from a release block
  src/functions/formatters/get-release-type-block-regexp.spec.ts
  src/functions/formatters/get-release-type-block-regexp.ts
  src/functions/formatters/get-release-type-block-rows-regexp.spec.ts
  src/functions/formatters/get-release-type-block-rows-regexp.ts
Due: npm run lint

chore(release-type): add a service to define it
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/app/enums/release-type-block-name.enum.spec.ts
  src/features/app/enums/release-type-block-name.enum.ts
  src/features/app/interfaces/release-type-counts.ts
  src/features/app/services/release-type.service.spec.ts
  src/features/app/services/release-type.service.ts
Due: npm run lint

chore(release): add a list of messages for bug fixes release
  src/features/app/services/config/app-config-core.service.ts
  src/features/app/services/config/app-config-mutator.service.spec.ts
  src/features/app/services/config/app-config-mutator.service.ts
  src/features/firebase/constants/guilds/firebase-guild-new-bug-fixes-version-response-messages.spec.ts
  src/features/firebase/constants/guilds/firebase-guild-new-bug-fixes-version-response-messages.ts
  src/features/firebase/enums/guilds/firebase-guild-new-bug-fixes-version-response.enum.spec.ts
  src/features/firebase/enums/guilds/firebase-guild-new-bug-fixes-version-response.enum.ts
Due: npm run lint

chore(deps): update dependency dotenv to v9.0.2
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/lodash to v4.14.169
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency semantic-release to v17.4.3
  package-lock.json
  package.json
Due: npm run prettier

chore(release): add a list of messages for features release
  src/features/firebase/constants/guilds/firebase-guild-new-features-version-response-messages.spec.ts
  src/features/firebase/constants/guilds/firebase-guild-new-features-version-response-messages.ts
  src/features/firebase/enums/guilds/firebase-guild-new-features-version-response.enum.spec.ts
  src/features/firebase/enums/guilds/firebase-guild-new-features-version-response.enum.ts
Due: npm run lint

feat(new-version): add specific messages based on the release type
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint

chore(release): add a list of messages for performance improvements release
  src/features/firebase/constants/guilds/firebase-guild-new-performance-improvements-version-response-messages.ts
  src/features/firebase/enums/guilds/firebase-guild-new-performance-improvements-version-response.enum.spec.ts
  src/features/firebase/enums/guilds/firebase-guild-new-performance-improvements-version-response.enum.ts
Due: npm run lint

test(firebase): add more coverage
  src/features/firebase/constants/guilds/firebase-guild-new-performance-improvements-version-response-messages.spec.ts
Due: npm run lint

test(fix): fix failing test
  src/enums/service-name.enum.spec.ts
Due: npm run lint

chore(deps): update dependency eslint-plugin-jsdoc to v33.3.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency prettier to v2.3.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update typescript-eslint monorepo to v4.23.0
  package-lock.json
  package.json
Due: npm run prettier

build(release): new version 1.96.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

Notes added by 'git notes add'
  e0/5a8bf080d2ad65cc71e000f967aa39aefcad13
Due: none

chore(deps): update dependency @types/node to v14.14.45
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-jsdoc to v34
  package-lock.json
  package.json
Due: npm run prettier

chore(heroku): skip post install script in production to avoid deployment issue
  package.json
  scripts/can-run-post-install.js
Due: npm run lint, npm run prettier

style(typo): fix typo from us to uk
  .github/ISSUE_TEMPLATE/bug_report.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  ISSUE_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
  README.md
Due: npm run prettier

chore(deps): update dependency eslint-plugin-import to v2.23.0
  package-lock.json
  package.json
Due: npm run prettier

build(heroku): fail safe postinstall to avoid production deployment issue
  package.json
Due: npm run prettier

refactor(lint): refactor some imports due to new release
  src/features/discord/activities/services/discord-activity-sonia.service.spec.ts
  src/features/discord/activities/services/discord-activity-sonia.service.ts
  src/features/discord/emotional-states/services/discord-sonia-emotional-state.service.spec.ts
  src/features/discord/messages/classes/commands/flags/discord-command-boolean-flag.ts
  src/features/discord/messages/classes/commands/flags/discord-command-valueless-flag.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-disabled.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-disabled.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-enabled.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-enabled.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-humanize.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-status.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon.service.spec.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon.service.ts
  src/features/firebase/functions/guilds/is-up-to-date-firebase-guild.ts
  src/features/firebase/services/guilds/channels/features/noon/firebase-guilds-channels-features-noon-enabled-state.service.ts
  src/features/firebase/services/guilds/channels/features/noon/firebase-guilds-channels-features-noon-enabled.service.ts
  src/features/firebase/services/guilds/channels/features/release-notes/firebase-guilds-channels-features-release-notes-enabled-state.service.ts
  src/features/firebase/services/guilds/channels/features/release-notes/firebase-guilds-channels-features-release-notes-enabled.service.ts
  src/features/firebase/services/guilds/channels/features/release-notes/firebase-guilds-channels-features-release-notes.service.ts
  src/features/firebase/services/guilds/firebase-guilds-breaking-change.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
  src/features/firebase/services/guilds/firebase-guilds.service.spec.ts
  src/features/logger/services/__mocks__/logger.service.ts
Due: npm run lint

chore(deps): update dependency eslint-plugin-jsdoc to v34.2.2
  package-lock.json
  package.json
Due: npm run prettier

build(heroku): fail safe postinstall to avoid production deployment issue
  scripts/can-run-post-install.js
Due: npm run lint

chore(deps): update stryker monorepo to v5
  package-lock.json
  package.json
Due: npm run prettier

chore(package): update version
  package-lock.json
  package.json
Due: npm run prettier

chore(changelog): update to include last release
  CHANGELOG.md
Due: npm run prettier

chore(deps): update dependency @types/ws to v7.4.4
  package-lock.json
  package.json
Due: npm run prettier
