Repository Sonia-corporation/sonia-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint"
  ],
  "*.{md,json,yml}": [
    "npm run prettier"
  ]
}

fix(release-notes): the feature command will works as expected for the release notes feature
  src/features/discord/messages/services/command/feature/discord-message-command-feature.service.spec.ts
  src/features/discord/messages/services/command/feature/discord-message-command-feature.service.ts
Due: npm run lint

build(release): new version 1.92.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

Notes added by 'git notes add'
  8c/299617d143f0b9ce8a40ff279a97270530ca3d
Due: none

feat(activity-listening): add 17 new hip-hop artists
  src/features/discord/activities/enums/discord-activity-name.enum.spec.ts
  src/features/discord/activities/enums/discord-activity-name.enum.ts
Due: npm run lint

chore(deps): update dependency pug to v3.0.2
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-config-prettier to v8.3.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-rxjs to v3.2.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency firebase-admin to v9.6.0
  package-lock.json
  package.json
Due: npm run prettier

build(release): new version 1.93.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

Notes added by 'git notes add'
  98/0f465cdc628fdce5fb8e37eb94f883eeb60b03
Due: none

chore(deps): update dependency node-schedule to v2
  package-lock.json
  package.json
Due: npm run prettier

refactor(node-schedule): stop destructuring to avoid losing the context
  src/features/schedules/functions/get-next-job-date-humanized.ts
  src/features/schedules/functions/get-next-job-date.ts
  src/functions/schedule/get-noon-schedule-rule.ts
Due: npm run lint

chore(deps): update dependency @types/node to v14.14.42
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-jsdoc to v32.3.2
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @datorama/akita to v6
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency concurrently to v6
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/jest to v26.0.23
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-jest to v24.3.6
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/ws to v7.4.2
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/node to v14.14.43
  package-lock.json
  package.json
Due: npm run prettier

refactor(noop): replace all the _.noop to noop from rxjs in the tests
  src/features/discord/activities/services/discord-activity-sonia.service.spec.ts
  src/features/discord/emotional-states/services/discord-sonia-emotional-state.service.spec.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon.service.spec.ts
  src/features/schedules/functions/get-next-job-date-humanized.spec.ts
  src/features/schedules/functions/get-next-job-date.spec.ts
Due: npm run lint

chore(jest): fix some issues with jest rules
  .eslintrc.yml
Due: npm run prettier

feat(joke): add a special joke when asking "any question?" to sonia
  README.md
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/messages/interfaces/discord-message-any-question-pineapple-pizza-response-message.ts
  src/features/discord/messages/services/responses/discord-message-any-question-pineapple-pizza.service.spec.ts
  src/features/discord/messages/services/responses/discord-message-any-question-pineapple-pizza.service.ts
  src/features/discord/messages/services/types/discord-message-dm.service.spec.ts
  src/features/discord/messages/services/types/discord-message-dm.service.ts
  src/features/discord/messages/services/types/discord-message-text.service.spec.ts
  src/features/discord/messages/services/types/discord-message-text.service.ts
  src/types/empty-object.ts
Due: npm run lint, npm run prettier

chore(lint): lint html files with prettier
  .lintstagedrc
  package.json
Due: npm run prettier

test(messages): remove extra useless space prefixes
  src/features/discord/messages/services/responses/discord-message-hotel-trivago.service.spec.ts
  src/features/discord/messages/services/responses/discord-message-ping-pong.service.spec.ts
Due: npm run lint

test(fix): fix some failing tests
  src/enums/service-name.enum.spec.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon.service.spec.ts
Due: npm run lint

build(release): new version 1.94.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

Notes added by 'git notes add'
  c9/0555c98a107dec205666b063c7e24739a38d1b
Due: none

fix(typo): fix a typo in one of the release notes message
  src/features/firebase/enums/guilds/firebase-guild-new-version-response.enum.spec.ts
  src/features/firebase/enums/guilds/firebase-guild-new-version-response.enum.ts
Due: npm run lint

fix(release-notes): stop sending the log message in sonia guild if nothing was sent
  src/features/firebase/services/guilds/firebase-guilds-new-version-count.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count.service.ts
Due: npm run lint

feat(joke): respond to simple and basic stuff
  README.md
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/messages/interfaces/discord-message-any-question-pineapple-pizza-response-message.ts
  src/features/discord/messages/services/responses/discord-message-simple-basic.service.spec.ts
  src/features/discord/messages/services/responses/discord-message-simple-basic.service.ts
  src/features/discord/messages/services/types/discord-message-dm.service.spec.ts
  src/features/discord/messages/services/types/discord-message-dm.service.ts
  src/features/discord/messages/services/types/discord-message-text.service.spec.ts
  src/features/discord/messages/services/types/discord-message-text.service.ts
Due: npm run lint, npm run prettier

build(release): new version 1.95.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

Notes added by 'git notes add'
  09/cd505a36b78970039cbf333656c3d4d39e0781
Due: none

fix(mention): sonia will also check for nicknames and real names in the mentions
  src/features/discord/mentions/functions/discord-get-mention-regexp.spec.ts
  src/features/discord/mentions/functions/discord-get-mention-regexp.ts
  src/features/discord/mentions/functions/is-discord-message-mentions.spec.ts
  src/features/discord/mentions/functions/remove-all-discord-mentions.spec.ts
  src/features/discord/mentions/functions/remove-first-discord-mention.spec.ts
  src/features/discord/mentions/functions/wrap-user-id-into-mention.ts
  src/features/discord/messages/services/responses/discord-message-hotel-trivago.service.spec.ts
Due: npm run lint

build(release): new version 1.95.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

Notes added by 'git notes add'
  e6/fc428f35095710ad5a87130f5682d26b0c5a3e
Due: none

chore(automerge): upgrade the version to latest
  .github/workflows/automerge.yml
Due: npm run prettier

chore(ci): add new workflow to provide a PR to merge develop into master
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Due: npm run prettier

build(automerge): add missing output to make it works
  .github/workflows/merge-develop-into-master.yml
Due: npm run prettier

build(automerge): fix bad path name to save the output
  .github/workflows/merge-develop-into-master.yml
Due: npm run prettier
