Repository Sonia-corporation/sonia-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

fix(release-notes): stop sending previously sent ones
  .idea/il-est-midi.iml
  package-lock.json
  package.json
  src/features/firebase/enums/guilds/firebase-guild-version.enum.ts
  src/features/firebase/functions/guilds/checks/has-firebase-guild-last-release-notes-version.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

fix(release-notes): stop sending previously sent ones (#1845)
  .idea/il-est-midi.iml
  package-lock.json
  package.json
  src/features/firebase/enums/guilds/firebase-guild-version.enum.ts
  src/features/firebase/functions/guilds/checks/has-firebase-guild-last-release-notes-version.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

build(release): new version 1.99.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  54/193013a84d7a8aa963ec0c167cd2311ac14d95
Due: none

refactor(build): change the way to save output
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Due: npm run lint:other:hook

chore: update changelog
  CHANGELOG.md
Due: npm run lint:other:hook

chore(deps): add type-fest
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(release): new version 1.99.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  05/5d954c6dc2387376c2ad54e4a81d0b4ab89327
Due: none

chore(deps): remove vercel
  package-lock.json
  package.json
Due: npm run lint:other:hook

feat(thread): allow Sonia to reply in threads
  src/features/discord/channels/functions/get-discord-humanized-channel.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channel.ts
  src/features/discord/channels/functions/is-discord-dm-channel.spec.ts
  src/features/discord/channels/functions/is-discord-dm-channel.ts
  src/features/discord/channels/functions/is-discord-guild-channel.spec.ts
  src/features/discord/channels/functions/is-discord-guild-channel.ts
  src/features/discord/channels/functions/is-discord-writable-channel.spec.ts
  src/features/discord/channels/functions/is-discord-writable-channel.ts
  src/features/discord/channels/functions/types/is-discord-guild-channel-writable.spec.ts
  src/features/discord/channels/functions/types/is-discord-guild-channel-writable.ts
  src/features/discord/channels/services/discord-channel-guild.service.ts
  src/features/discord/channels/services/discord-channel-typing.service.spec.ts
  src/features/discord/channels/services/discord-channel-typing.service.ts
  src/features/discord/channels/services/discord-channel.service.spec.ts
  src/features/discord/channels/services/discord-channel.service.ts
  src/features/discord/channels/types/any-discord-writable-channel.ts
  src/features/discord/guilds/services/discord-guild-create.service.spec.ts
  src/features/discord/guilds/services/discord-guild-create.service.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.ts
  src/features/discord/guilds/services/discord-guild-sonia.service.ts
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/messages/services/discord-message.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon.service.spec.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint:ts:hook

build(release): new version 1.100.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  45/3b5cb6c7426700005b503e8b7fcd9b54b7689f
Due: none

fix(dm): allow Sonia to communicate through DMs
  src/features/discord/services/discord-client.service.ts
Due: npm run lint:ts:hook

Notes added by 'git notes add'
  c7/f4b1ea57ae69ee92a89e40f0c1e7b3b28c5cff
Due: none

build(release): new version 1.100.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(eslint): change the rules regarding the readonly params on functions
  .eslintrc.yml
Due: npm run lint:other:hook

[CodeFactor] Apply fixes to commit 55a2acc
  src/features/quote/functions/is-quote-error-api.ts
  src/functions/checks/get-string-enum-length.ts
  src/functions/randoms/get-random-value-from-enum.ts
Due: npm run lint:ts:hook

docs: use proper type for jsdoc
  src/features/quote/functions/is-quote-error-api.ts
Due: npm run lint:ts:hook

chore: fix type errors
  src/features/config/interfaces/config-update-date-internal.ts
  src/features/config/services/config.service.ts
  src/features/discord/messages/classes/messages.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count.service.ts
  src/features/firebase/stores/guilds/firebase-guilds-store.ts
  src/features/quote/interfaces/quote-of-the-day-api.ts
  src/features/quote/interfaces/quote.ts
  src/features/time/functions/from-now.spec.ts
  src/features/time/functions/from-now.ts
  src/features/time/services/time.service.spec.ts
  src/features/time/services/time.service.ts
Due: npm run lint:ts:hook

chore(eslint): add more jsdoc rules
  .eslintrc.yml
Due: npm run lint:other:hook

refactor: add a new service common to all command services
  src/features/discord/messages/services/command/cookie/services/discord-message-command-cookie.service.spec.ts
  src/features/discord/messages/services/command/cookie/services/discord-message-command-cookie.service.ts
  src/features/discord/messages/services/command/discord-message-command-core.service.ts
  src/features/discord/messages/services/command/discord-message-command.service.ts
  src/features/discord/messages/services/command/error/discord-message-command-error.service.spec.ts
  src/features/discord/messages/services/command/error/discord-message-command-error.service.ts
  src/features/discord/messages/services/command/feature/discord-message-command-feature.service.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.ts
  src/features/discord/messages/services/command/lunch/services/discord-message-command-lunch.service.spec.ts
  src/features/discord/messages/services/command/lunch/services/discord-message-command-lunch.service.ts
  src/features/discord/messages/services/command/quote/services/discord-message-command-quote.service.ts
  src/features/discord/messages/services/command/release-notes/discord-message-command-release-notes.service.spec.ts
  src/features/discord/messages/services/command/release-notes/discord-message-command-release-notes.service.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.spec.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.ts
Due: npm run lint:ts:hook

docs: add more JSDoc
  src/features/discord/messages/services/command/discord-message-command-core.service.ts
Due: npm run lint:ts:hook

chore: add the feature request link in the config
  src/features/github/enums/github-config-value-name.enum.spec.ts
  src/features/github/enums/github-config-value-name.enum.ts
  src/features/github/interfaces/github-config.ts
  src/features/github/services/config/github-config-core.service.spec.ts
  src/features/github/services/config/github-config-core.service.ts
  src/features/github/services/config/github-config-mutator.service.spec.ts
  src/features/github/services/config/github-config-mutator.service.ts
  src/features/github/services/config/github-config.service.spec.ts
  src/features/github/services/config/github-config.service.ts
Due: npm run lint:ts:hook

chore: add new functions to humanize the channel types
  src/features/discord/channels/enums/discord-channel.enum.spec.ts
  src/features/discord/channels/enums/discord-channel.enum.ts
  src/features/discord/channels/functions/get-discord-humanized-channel-from-class.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channel-from-class.ts
  src/features/discord/channels/functions/get-discord-humanized-channel-plural-from-class.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channel-plural-from-class.ts
  src/features/discord/channels/functions/get-discord-humanized-channel-plural.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channel-plural.ts
  src/features/discord/channels/functions/get-discord-humanized-channel.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-from-class.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-from-class.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-plural-from-class.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-plural-from-class.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-plural.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-plural.ts
  src/features/discord/channels/functions/get-discord-humanized-channels.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels.ts
  src/features/discord/channels/services/discord-channel-typing.service.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint:ts:hook

chore: improve the way to humanize
  .idea/il-est-midi.iml
  package-lock.json
  package.json
  src/features/discord/channels/functions/get-discord-humanized-channels-from-class.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-from-class.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-plural-from-class.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-plural-from-class.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-plural.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-plural.ts
  src/features/discord/channels/functions/get-discord-humanized-channels.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(commands): disallow some commands on channel types that make no sense
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/messages/services/command/cookie/services/discord-message-command-cookie.service.spec.ts
  src/features/discord/messages/services/command/cookie/services/discord-message-command-cookie.service.ts
  src/features/discord/messages/services/command/discord-message-command-core.service.ts
  src/features/discord/messages/services/command/discord-message-command-verify-channel-right.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-verify-channel-right.service.ts
  src/features/discord/messages/services/command/error/discord-message-command-error.service.spec.ts
  src/features/discord/messages/services/command/error/discord-message-command-error.service.ts
  src/features/discord/messages/services/command/feature/discord-message-command-feature.service.spec.ts
  src/features/discord/messages/services/command/feature/discord-message-command-feature.service.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.ts
  src/features/discord/messages/services/command/lunch/services/discord-message-command-lunch.service.spec.ts
  src/features/discord/messages/services/command/lunch/services/discord-message-command-lunch.service.ts
  src/features/discord/messages/services/command/quote/services/discord-message-command-quote.service.spec.ts
  src/features/discord/messages/services/command/quote/services/discord-message-command-quote.service.ts
  src/features/discord/messages/services/command/release-notes/discord-message-command-release-notes.service.spec.ts
  src/features/discord/messages/services/command/release-notes/discord-message-command-release-notes.service.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.spec.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.ts
Due: npm run lint:ts:hook

test: add missing test
  src/features/discord/channels/functions/get-discord-humanized-channel-plural-from-class.spec.ts
Due: npm run lint:ts:hook

docs: add more JSDoc
  src/features/discord/channels/functions/is-discord-dm-channel.ts
  src/features/discord/channels/functions/is-discord-news-channel.ts
  src/features/discord/channels/functions/is-discord-text-channel.ts
  src/features/discord/channels/functions/is-discord-thread-channel.ts
  src/features/discord/channels/functions/is-discord-writable-channel.ts
Due: npm run lint:ts:hook

chore: add new functions to check which kind of channel it is
  src/features/discord/channels/functions/is-discord-category-channel.spec.ts
  src/features/discord/channels/functions/is-discord-category-channel.ts
  src/features/discord/channels/functions/is-discord-stage-channel.spec.ts
  src/features/discord/channels/functions/is-discord-stage-channel.ts
  src/features/discord/channels/functions/is-discord-voice-channel.spec.ts
  src/features/discord/channels/functions/is-discord-voice-channel.ts
Due: npm run lint:ts:hook

chore: add support for voice, stage and category channels in messages
  src/features/discord/channels/enums/discord-channel.enum.spec.ts
  src/features/discord/channels/enums/discord-channel.enum.ts
  src/features/discord/channels/functions/get-discord-humanized-channel-from-class.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channel-from-class.ts
  src/features/discord/channels/functions/get-discord-humanized-channel-plural-from-class.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channel-plural-from-class.ts
  src/features/discord/channels/functions/get-discord-humanized-channel-plural.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channel-plural.ts
  src/features/discord/channels/functions/get-discord-humanized-channel.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channel.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-from-class.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-plural-from-class.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-plural.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels.spec.ts
Due: npm run lint:ts:hook

chore: add support for more channel types for the commands
  src/features/discord/messages/services/command/discord-message-command-verify-channel-right.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-verify-channel-right.service.ts
Due: npm run lint:ts:hook

chore: send a warning in the warnings channel when a channel type is not supported
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/messages/services/command/discord-message-command-verify-channel-right-warning-unsupported-channel-type.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-verify-channel-right-warning-unsupported-channel-type.service.ts
Due: npm run lint:ts:hook

test: fix failing tests
  src/features/discord/channels/functions/get-discord-humanized-channels-plural.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels.spec.ts
Due: npm run lint:ts:hook

docs: add more JSDoc
  .eslintrc.yml
  src/features/discord/messages/services/command/discord-message-command-verify-channel-right-warning-unsupported-channel-type.service.ts
  src/features/discord/messages/services/command/discord-message-command-verify-channel-right.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js,mjs,cjs}
  npm run lint:other:hook: any of: *.{md,json,yml,html}
