Repository Sonia-corporation/sonia-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

.lintstagedrc:

{
  "*.{ts,js,mjs,cjs}": [
    "npm run lint:ts:hook"
  ],
  "*.{md,json,yml,html}": [
    "npm run lint:other:hook"
  ]
}

[CodeFactor] Apply fixes to commit d34ca9f
  scripts/logger.mjs
Due: npm run lint:ts:hook

build(release): new version 1.101.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  bb/56065e5b92e915abf31737db0d9209d4c2787b
Due: none

refactor: remove useless JSDoc
  scripts/build-update-app-initialization-date.mjs
  scripts/logger.mjs
Due: npm run lint:ts:hook

feat(commands): disallow some features on channel types that make no sense
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/messages/services/command/discord-message-command-core.service.ts
  src/features/discord/messages/services/command/discord-message-command-verify-channel-right-core.service.ts
  src/features/discord/messages/services/command/discord-message-command-verify-channel-right.service.ts
  src/features/discord/messages/services/command/discord-message-sub-command-core.service.ts
  src/features/discord/messages/services/command/discord-message-sub-command-verify-channel-right.service.spec.ts
  src/features/discord/messages/services/command/discord-message-sub-command-verify-channel-right.service.ts
  src/features/discord/messages/services/command/feature/discord-message-command-feature.service.spec.ts
  src/features/discord/messages/services/command/feature/discord-message-command-feature.service.ts
  src/features/discord/messages/services/command/feature/features/noon/services/discord-message-command-feature-noon.service.ts
  src/features/discord/messages/services/command/feature/features/release-notes/services/discord-message-command-feature-release-notes.service.ts
Due: npm run lint:ts:hook

docs: improve description
  src/features/discord/messages/services/command/discord-message-command-verify-channel-right-core.service.ts
Due: npm run lint:ts:hook

refactor: sort imports to fix linter error
  src/features/discord/messages/services/command/discord-message-command-verify-channel-right-core.service.ts
  src/features/discord/messages/services/command/feature/discord-message-command-feature.service.ts
Due: npm run lint:ts:hook

build(release): new version 1.102.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  9a/f680a4d35a95af795d6308fadad9d338b0d08d
Due: none

fix(sonia): fix an issue that is causing the bot to be broken
  package-lock.json
  package.json
Due: npm run lint:other:hook

fix(sonia): fix an issue that is causing the bot to be broken (#1885)
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(release): new version 1.102.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  a2/85c2c416ee9193b5ea4d65a61fd15a24f20802
Due: none

feat(commands): add new command `heartbeat`
  CONTRIBUTING.md
  README.md
  src/enums/icon.enum.spec.ts
  src/enums/icon.enum.ts
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/interfaces/discord-message-command-config.ts
  src/features/discord/interfaces/discord-message-command-heartbeat-config.ts
  src/features/discord/messages/enums/commands/discord-message-command.enum.spec.ts
  src/features/discord/messages/enums/commands/discord-message-command.enum.ts
  src/features/discord/messages/enums/commands/heartbeat/discord-message-command-heartbeat-description.enum.spec.ts
  src/features/discord/messages/enums/commands/heartbeat/discord-message-command-heartbeat-description.enum.ts
  src/features/discord/messages/enums/commands/heartbeat/discord-message-command-heartbeat-title.enum.spec.ts
  src/features/discord/messages/enums/commands/heartbeat/discord-message-command-heartbeat-title.enum.ts
  src/features/discord/messages/enums/discord-message-config-value-name.enum.spec.ts
  src/features/discord/messages/enums/discord-message-config-value-name.enum.ts
  src/features/discord/messages/services/command/discord-message-command.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command.service.ts
  src/features/discord/messages/services/command/heartbeat/constants/discord-message-command-heartbeat-description-messages.spec.ts
  src/features/discord/messages/services/command/heartbeat/constants/discord-message-command-heartbeat-description-messages.ts
  src/features/discord/messages/services/command/heartbeat/constants/discord-message-command-heartbeat-title-messages.spec.ts
  src/features/discord/messages/services/command/heartbeat/constants/discord-message-command-heartbeat-title-messages.ts
  src/features/discord/messages/services/command/heartbeat/services/discord-message-command-heartbeat.service.spec.ts
  src/features/discord/messages/services/command/heartbeat/services/discord-message-command-heartbeat.service.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.ts
  src/features/discord/messages/services/config/discord-message-config-core.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-core.service.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.ts
  src/features/discord/messages/services/config/discord-message-config.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(message): trigger a callback after sending a message
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/messages/services/discord-message.service.ts
Due: npm run lint:ts:hook

chore: add the real implementation of the roundtrip latency calculation
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/messages/interfaces/discord-message-response.ts
  src/features/discord/messages/services/command/heartbeat/services/discord-message-command-heartbeat-update-error.service.spec.ts
  src/features/discord/messages/services/command/heartbeat/services/discord-message-command-heartbeat-update-error.service.ts
  src/features/discord/messages/services/command/heartbeat/services/discord-message-command-heartbeat.service.spec.ts
  src/features/discord/messages/services/command/heartbeat/services/discord-message-command-heartbeat.service.ts
  src/features/discord/messages/services/helpers/discord-message-error.service.ts
Due: npm run lint:ts:hook

test: add missing unit test for a log
  src/features/discord/messages/services/helpers/discord-message-error.service.spec.ts
Due: npm run lint:ts:hook

build(release): new version 1.103.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  a3/39bf464e3c77625ef6af23d3f1235f88c0466f
Due: none

feat(help): sort the list of commands
  README.md
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.ts
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(logs): change the wording to avoid confusion with the counts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon-count-humanized.service.spec.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon-count-humanized.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon-count.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count-humanized.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count-humanized.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version-count.service.spec.ts
Due: npm run lint:ts:hook

feat(noon): send an error message if the guild cannot be found in the message
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-status.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-status.ts
Due: npm run lint:ts:hook

chore(noon): send an error message if the firebase guild cannot be found in the message
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-status.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-status.ts
Due: npm run lint:ts:hook

refactor: add a generic firebase store service
  src/features/firebase/stores/guilds/services/firebase-guilds-store.service.ts
  src/features/firebase/stores/services/firebase-abstract-store.service.ts
Due: npm run lint:ts:hook

docs: fix some typos in comments
  src/features/firebase/interfaces/guilds/channels/features/firebase-guild-channel-feature-noon-v1.ts
  src/features/firebase/interfaces/guilds/channels/features/firebase-guild-channel-feature-release-notes-v1.ts
  src/features/firebase/interfaces/guilds/channels/features/firebase-guild-channel-feature-v1.ts
  src/features/firebase/interfaces/guilds/channels/features/firebase-guild-channel-feature-v2.ts
  src/features/firebase/interfaces/guilds/channels/features/new-firebase-guild-channel-feature-noon.ts
  src/features/firebase/interfaces/guilds/channels/features/new-firebase-guild-channel-feature-release-notes.ts
  src/features/firebase/interfaces/guilds/channels/features/new-firebase-guild-channel-feature.ts
  src/features/firebase/interfaces/guilds/channels/firebase-guild-channel-v1.ts
  src/features/firebase/interfaces/guilds/channels/firebase-guild-channel-v2.ts
  src/features/firebase/interfaces/guilds/channels/new-firebase-guild-channel.ts
  src/features/firebase/interfaces/guilds/firebase-guild-v1.ts
  src/features/firebase/interfaces/guilds/firebase-guild-v2.ts
  src/features/firebase/interfaces/guilds/firebase-guild-v3.ts
  src/features/firebase/interfaces/guilds/firebase-guild-v4.ts
  src/features/firebase/interfaces/guilds/firebase-guild-v5.ts
Due: npm run lint:ts:hook

build(release): new version 1.104.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  09/38c485ce579fb875152131d6149865aa814254
Due: none

chore(eslint): update config due to breaking change
  .eslintrc.yml
Due: npm run lint:other:hook

refactor: create a logger discord service
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
  src/features/logger/services/logger-discord.service.spec.ts
  src/features/logger/services/logger-discord.service.ts
Due: npm run lint:ts:hook

refactor: create a logger firebase service
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-noon.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
  src/features/logger/services/logger-firebase.service.spec.ts
  src/features/logger/services/logger-firebase.service.ts
Due: npm run lint:ts:hook

refactor: add new method for the logger firebase service
  src/features/firebase/services/guilds/firebase-guilds-breaking-change.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
  src/features/logger/services/logger-firebase.service.spec.ts
  src/features/logger/services/logger-firebase.service.ts
Due: npm run lint:ts:hook

refactor: add new method for the logger firebase service
  src/features/discord/messages/services/schedule/discord-message-schedule-noon.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
  src/features/logger/services/logger-firebase.service.spec.ts
  src/features/logger/services/logger-firebase.service.ts
Due: npm run lint:ts:hook

chore(deps): migrate to discord 14
  package-lock.json
  package.json
Due: npm run lint:other:hook

refactor: change the way to check for a channel type
  src/features/discord/channels/functions/get-discord-humanized-channel-from-class.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channel-plural-from-class.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-from-class.spec.ts
  src/features/discord/channels/functions/get-discord-humanized-channels-plural-from-class.spec.ts
  src/features/discord/channels/functions/is-discord-category-channel.spec.ts
  src/features/discord/channels/functions/is-discord-dm-channel.spec.ts
  src/features/discord/channels/functions/is-discord-news-channel.spec.ts
  src/features/discord/channels/functions/is-discord-stage-channel.spec.ts
  src/features/discord/channels/functions/is-discord-text-channel.spec.ts
  src/features/discord/channels/functions/is-discord-text-channel.ts
  src/features/discord/channels/functions/is-discord-thread-channel.spec.ts
  src/features/discord/channels/functions/is-discord-voice-channel.spec.ts
  src/features/discord/channels/functions/is-discord-writable-channel.spec.ts
  src/features/discord/messages/services/command/cookie/services/discord-message-command-cookie.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-verify-channel-right.service.spec.ts
  src/features/discord/messages/services/command/discord-message-sub-command-verify-channel-right.service.spec.ts
  src/features/discord/messages/services/command/error/discord-message-command-error.service.spec.ts
  src/features/discord/messages/services/command/feature/discord-message-command-feature.service.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-disabled.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-enabled.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-status.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-disabled.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-enabled.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-humanize.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-status.spec.ts
  src/features/discord/messages/services/command/heartbeat/services/discord-message-command-heartbeat.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/lunch/services/discord-message-command-lunch.service.spec.ts
  src/features/discord/messages/services/command/quote/services/discord-message-command-quote.service.spec.ts
  src/features/discord/messages/services/command/release-notes/discord-message-command-release-notes.service.spec.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.spec.ts
Due: npm run lint:ts:hook

refactor: use enum for the discord client
  src/features/discord/services/discord-client.service.ts
Due: npm run lint:ts:hook
