Repository Sonia-corporation/sonia-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint"
  ],
  "*.{md,json,yml}": [
    "npm run prettier"
  ]
}

chore(deps): update dependency prettier to v2.2.0
  package-lock.json
  package.json
Due: npm run prettier

chore(lint): just run the linter to fix new errors due to prettier
  src/classes/stores/abstract-query-entity.service.ts
  src/features/discord/emotional-states/constants/discord-emotional-state-messages.ts
  src/features/discord/guilds/services/discord-guild-create.service.spec.ts
  src/features/discord/messages/services/command/cookie/constants/discord-message-command-cookie-description-messages.ts
  src/features/discord/messages/services/command/cookie/constants/discord-message-command-cookie-title-messages.ts
  src/features/discord/messages/services/command/cookie/services/discord-message-command-cookie.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-cli-error.service.spec.ts
  src/features/discord/messages/services/command/error/discord-message-command-error.service.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-disabled.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-enabled.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-help.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-status.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/constants/discord-message-command-feature-noon-humanize-disabled-messages.ts
  src/features/discord/messages/services/command/feature/features/noon/constants/discord-message-command-feature-noon-humanize-enabled-messages.ts
  src/features/discord/messages/services/command/feature/features/noon/services/config/discord-message-command-feature-noon-config-mutator.service.ts
  src/features/discord/messages/services/command/feature/features/noon/services/discord-message-command-feature-noon.service.spec.ts
  src/features/discord/messages/services/command/feature/services/discord-message-command-feature-empty-content-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-empty-feature-name-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-wrong-feature-name-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-duplicated-flags-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-empty-flags-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-opposite-flags-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-wrong-flags-error.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/lunch/constants/discord-message-command-lunch-description-messages.ts
  src/features/discord/messages/services/command/lunch/constants/discord-message-command-lunch-title-messages.ts
  src/features/discord/messages/services/command/lunch/services/discord-message-command-lunch.service.spec.ts
  src/features/discord/messages/services/command/release-notes/discord-message-command-release-notes.service.spec.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.spec.ts
  src/features/discord/messages/services/discord-message-help.service.spec.ts
  src/features/discord/users/constants/discord-github-contributors-id-messages.ts
  src/features/firebase/constants/guilds/firebase-guild-new-version-response-messages.ts
  src/features/firebase/services/guilds/firebase-guilds-breaking-change.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
Due: npm run lint

build(release): new version 1.89.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

Notes added by 'git notes add'
  4f/b81702581e149ce003886b87ab33c65abc2148
Due: none

feat(sonia-emotional-state): change random every 5 to 30 min
  src/features/discord/activities/services/discord-activity-sonia.service.ts
  src/features/discord/emotional-states/services/discord-sonia-emotional-state.service.spec.ts
  src/features/discord/emotional-states/services/discord-sonia-emotional-state.service.ts
  src/features/discord/services/discord.service.spec.ts
  src/features/discord/services/discord.service.ts
Due: npm run lint

refactor(services): move some services into subfolders
  src/features/discord/messages/services/command/discord-message-command.service.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-help.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-help.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.ts
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/messages/services/discord-message.service.ts
  src/features/discord/messages/services/helpers/discord-message-content.service.spec.ts
  src/features/discord/messages/services/helpers/discord-message-content.service.ts
  src/features/discord/messages/services/helpers/discord-message-error.service.spec.ts
  src/features/discord/messages/services/helpers/discord-message-error.service.ts
  src/features/discord/messages/services/helpers/discord-message-help.service.spec.ts
  src/features/discord/messages/services/helpers/discord-message-help.service.ts
  src/features/discord/messages/services/responses/discord-message-author.service.spec.ts
  src/features/discord/messages/services/responses/discord-message-author.service.ts
  src/features/discord/messages/services/types/discord-message-dm.service.spec.ts
  src/features/discord/messages/services/types/discord-message-dm.service.ts
  src/features/discord/messages/services/types/discord-message-text.service.spec.ts
  src/features/discord/messages/services/types/discord-message-text.service.ts
Due: npm run lint

chore(config): allow to set a dev guild id whitelist from the env
  CONTRIBUTING.md
  scripts/create-secret-environment.js
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/environment/interfaces/environment-discord-sonia.ts
  src/features/config/interfaces/config-update-array.ts
  src/features/config/interfaces/config-update-value.ts
  src/features/config/services/config.service.spec.ts
  src/features/config/services/config.service.ts
  src/features/discord/functions/dev-prefix/add-discord-dev-prefix.ts
  src/features/discord/interfaces/discord-sonia-config.ts
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/messages/services/discord-message.service.ts
  src/features/discord/messages/services/rights/discord-message-rights.service.spec.ts
  src/features/discord/messages/services/rights/discord-message-rights.service.ts
  src/features/discord/users/enums/discord-sonia-config-value-name.enum.spec.ts
  src/features/discord/users/enums/discord-sonia-config-value-name.enum.ts
  src/features/discord/users/services/config/discord-sonia-config-core.service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-core.service.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator.service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator.service.ts
  src/features/discord/users/services/config/discord-sonia-config.service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config.service.ts
Due: npm run lint, npm run prettier

chore(dev): the DM messages will not be sent if the guild is not whitelisted for the local dev
  src/features/discord/messages/services/discord-message.service.ts
  src/features/discord/messages/services/rights/discord-message-rights.service.spec.ts
  src/features/discord/messages/services/rights/discord-message-rights.service.ts
  src/features/discord/users/services/config/discord-sonia-config.service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config.service.ts
Due: npm run lint

chore(dev): allow the Sonia guild by default for the guild whitelist
  src/environment/constants/environment.ts
Due: npm run lint

chore(env): use const to avoid code duplication
  src/environment/constants/environment.spec.ts
  src/environment/constants/environment.ts
Due: npm run lint

chore(dev): add logs when the dm can not send a message locally
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/messages/services/discord-message.service.ts
Due: npm run lint

chore(dev): fix the whitelist to be used with text and not dm channels
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/messages/services/discord-message.service.ts
Due: npm run lint

chore(env): use the right sonia guild id
  src/environment/constants/environment.spec.ts
  src/environment/constants/environment.ts
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/messages/services/discord-message.service.ts
Due: npm run lint

test(discord-message): fix an error
  src/features/discord/messages/services/discord-message.service.spec.ts
Due: npm run lint

chore(deps): update dependency discord.js to v12.5.0
  package-lock.json
  package.json
Due: npm run prettier

chore(discord-guild-member-add): don't send a message on the guild if not whitelisted locally
  src/features/discord/guilds/services/discord-guild-member-add.service.spec.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.ts
Due: npm run lint

chore(deps): update dependency semantic-release to v17.3.0
  package-lock.json
  package.json
Due: npm run prettier

chore(discord-guild-create): don't send a message on the guild if not whitelisted locally
  src/features/discord/guilds/services/discord-guild-create.service.spec.ts
  src/features/discord/guilds/services/discord-guild-create.service.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.ts
Due: npm run lint

chore(eslint): add the prettier rules into eslint
  .eslintrc
Due: none

chore(regexp): add new regexp to find a mention
  src/features/discord/mentions/functions/discord-get-mention-regexp.spec.ts
  src/features/discord/mentions/functions/discord-get-mention-regexp.ts
Due: npm run lint

chore(mention): add new functions to remove all mentions from a message
  src/features/discord/mentions/functions/remove-all-discord-mentions.spec.ts
  src/features/discord/mentions/functions/remove-all-discord-mentions.ts
Due: npm run lint

chore(mention): add new function to remove the first mention from a message
  src/features/discord/mentions/functions/remove-first-discord-mention.spec.ts
  src/features/discord/mentions/functions/remove-first-discord-mention.ts
Due: npm run lint

chore(dev): add new function to set as prefix the dev user
  src/features/app/functions/get-reply-with-env-prefix.spec.ts
  src/features/app/functions/get-reply-with-env-prefix.ts
Due: npm run lint

chore(ping-pong): add new service to respond to ping by pong
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/messages/services/responses/discord-message-author.service.ts
  src/features/discord/messages/services/responses/discord-message-ping-pong.service.spec.ts
  src/features/discord/messages/services/responses/discord-message-ping-pong.service.ts
Due: npm run lint

feat(response): respond pong when mentioned with ping in a DM
  src/features/discord/messages/services/types/discord-message-dm.service.spec.ts
  src/features/discord/messages/services/types/discord-message-dm.service.ts
Due: npm run lint

chore(deps): update dependency @datorama/akita to v5.2.6
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update typescript-eslint monorepo to v4.8.2
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency lint-staged to v10.5.2
  package-lock.json
  package.json
Due: npm run prettier

docs(readme): add docs about ping pong response
  README.md
Due: npm run prettier

test(discord-dm): add coverage for getMessage method
  src/features/discord/messages/services/types/discord-message-dm.service.spec.ts
Due: npm run lint

test(discord-dm): add coverage for getMessageResponse method
  src/features/discord/messages/services/types/discord-message-dm.service.spec.ts
  src/features/discord/messages/services/types/discord-message-dm.service.ts
  src/features/discord/messages/services/types/discord-message-text.service.spec.ts
Due: npm run lint

chore(ping): respond pong by respecting more or less the same caps
  src/features/discord/messages/services/responses/discord-message-ping-pong.service.spec.ts
  src/features/discord/messages/services/responses/discord-message-ping-pong.service.ts
  src/features/discord/messages/services/types/discord-message-dm.service.spec.ts
  src/features/discord/messages/services/types/discord-message-dm.service.ts
  src/features/discord/messages/types/any-discord-message-with-content.ts
Due: npm run lint

chore(deps): update dependency @types/node to v14.14.10
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency discord.js to v12.5.1
  package-lock.json
  package.json
Due: npm run prettier

chore(ping-pong): return random messages instead of always the same one
  src/features/discord/messages/classes/messages.ts
  src/features/discord/messages/constants/discord-message-ping-pong-response-messages.spec.ts
  src/features/discord/messages/constants/discord-message-ping-pong-response-messages.ts
  src/features/discord/messages/enums/discord-message-ping-pong-response-messages.enum.spec.ts
  src/features/discord/messages/enums/discord-message-ping-pong-response-messages.enum.ts
  src/features/discord/messages/interfaces/discord-message-ping-pong-response-message.ts
  src/features/discord/messages/interfaces/message-config.ts
  src/features/discord/messages/services/responses/discord-message-ping-pong.service.spec.ts
  src/features/discord/messages/services/responses/discord-message-ping-pong.service.ts
  src/features/firebase/constants/guilds/firebase-guild-new-version-response-messages.ts
  src/features/firebase/interfaces/guilds/firebase-guild-new-version-response-message.ts
Due: npm run lint

chore(dm): rename a method to add Discord
  src/features/discord/messages/services/types/discord-message-dm.service.spec.ts
  src/features/discord/messages/services/types/discord-message-dm.service.ts
Due: npm run lint

feat(response): respond pong to ping on a channel
  src/features/discord/messages/services/types/discord-message-text.service.spec.ts
  src/features/discord/messages/services/types/discord-message-text.service.ts
Due: npm run lint

test(text): add coverage for getMessage method
  src/features/discord/messages/services/types/discord-message-text.service.spec.ts
Due: npm run lint

chore(deps): update dependency prettier to v2.2.1
  package-lock.json
  package.json
Due: npm run prettier
