Repository Sonia-corporation/sonia-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint"
  ],
  "*.{md,json,yml}": [
    "npm run prettier"
  ]
}

chore(deps): add faker as a dependency
  .idea/il-est-midi.iml
  package-lock.json
  package.json
  src/features/discord/messages/services/helpers/discord-message-error.service.spec.ts
Due: npm run lint, npm run prettier

refactor(mocks): prefer hydrated mocks
  src/features/discord/messages/services/command/discord-message-command.service.spec.ts
Due: npm run lint

docs(jsdoc): add better jsdoc for the isQuoteErrorApi function
  src/features/quote/functions/is-quote-error-api.ts
Due: npm run lint

test(error): add more coverage for the discord message error service
  src/features/discord/messages/services/helpers/discord-message-error.service.spec.ts
Due: npm run lint

build(release): new version 1.98.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

Notes added by 'git notes add'
  3b/93434e892fee6c95d62840a6338f89748bcd40
Due: none

chore(deps): update dependency @types/ws to v7.4.5
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-rxjs to v3.3.4
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency ts-jest to v27.0.3
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency typescript to v4.3.4
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @datorama/akita to v6.2.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency firebase-admin to v9.10.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-import to v2.23.4
  package-lock.json
  package.json
Due: npm run prettier

feat(help): add more help when encountering the empty feature name
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-empty-feature-name-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-empty-feature-name-error.service.ts
Due: npm run lint

feat(help): add more help when encountering the wrong feature name
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-wrong-feature-name-error.service.spec.ts
  src/features/discord/messages/services/command/feature/services/feature-names/discord-message-command-feature-wrong-feature-name-error.service.ts
Due: npm run lint

feat(help): add a new flag "help" for the feature command
  src/features/discord/messages/services/command/feature/discord-message-command-feature.service.spec.ts
  src/features/discord/messages/services/command/feature/discord-message-command-feature.service.ts
Due: npm run lint

chore(deps): update dependency jest to v27.0.6
  package-lock.json
  package.json
Due: npm run prettier

chore(help): add help service
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/messages/services/command/feature/enums/discord-message-command-feature-flag.enum.spec.ts
  src/features/discord/messages/services/command/feature/enums/discord-message-command-feature-flag.enum.ts
  src/features/discord/messages/services/command/feature/services/flags/discord-message-command-feature-flags.service.ts
Due: npm run lint

chore(deps): update dependency ts-node-dev to v1.1.8
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/node to v14.17.4
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update typescript-eslint monorepo to v4.28.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update stryker monorepo to v5.2.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update typescript-eslint monorepo to v4.28.2
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/faker to v5.5.7
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/fs-extra to v9.0.12
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/node-schedule to v1.3.2
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency majestic to v1.8.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency typescript to v4.3.5
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint to v7.30.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency tsconfig-paths to v3.10.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/jest to v26.0.24
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @datorama/akita to v6.2.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency lint-staged to v11.0.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update stryker monorepo to v5.2.2
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/ws to v7.4.6
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update actions/stale action to v4
  .github/workflows/stale.yml
Due: npm run prettier

chore(deps): update dependency @types/express to v4.17.13
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/node to v14.17.5
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update typescript-eslint monorepo to v4.28.3
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/lodash to v4.14.171
  package-lock.json
  package.json
Due: npm run prettier
