Repository Sonia-corporation/sonia-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
  "*.{ts,js}": [
    "npm run lint"
  ],
  "*.{md,json,yml}": [
    "npm run prettier"
  ]
}

chore(deps): update dependency eslint-plugin-jsdoc to v32.3.4
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency stryker-cli to v1.0.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-rxjs to v3.3.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency firebase-admin to v9.7.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-jsdoc to v33
  package-lock.json
  package.json
Due: npm run prettier

chore(codeowners): add me as a code owner for everything
  CODEOWNERS
Due: none

test(skipped): un-skip some of the tests
  src/features/discord/channels/functions/is-discord-dm-channel.spec.ts
  src/features/discord/channels/functions/is-discord-guild-channel.spec.ts
  src/features/discord/channels/functions/is-discord-text-channel.spec.ts
  src/features/discord/guilds/functions/is-discord-guild.spec.ts
  src/features/discord/messages/functions/is-discord-message.spec.ts
  src/features/discord/users/functions/is-discord-client-user.spec.ts
  src/features/discord/users/functions/is-discord-user.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator.service.spec.ts
Due: npm run lint

test(skipped): un-skip some of the tests
  CODEOWNERS
  package-lock.json
  package.json
  src/features/discord/channels/functions/is-discord-dm-channel.spec.ts
  src/features/discord/channels/functions/is-discord-dm-channel.ts
  src/features/discord/channels/functions/is-discord-guild-channel.spec.ts
  src/features/discord/channels/functions/is-discord-text-channel.spec.ts
  src/features/discord/channels/functions/is-discord-text-channel.ts
  src/features/discord/guilds/functions/is-discord-guild.spec.ts
  src/features/discord/messages/functions/is-discord-message.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-disabled.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-enabled.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-disabled.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-enabled.spec.ts
  src/features/discord/users/functions/is-discord-client-user.spec.ts
  src/features/discord/users/functions/is-discord-user.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator.service.spec.ts
Due: npm run lint, npm run prettier

test(skipped): un-skip some of the tests
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-status.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-humanize.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-status.spec.ts
Due: npm run lint

test(channel): add coverage
  src/features/discord/channels/services/discord-channel.service.spec.ts
Due: npm run lint

test(env): unskip env test that was hard to cover
  src/features/firebase/services/firebase-app.service.spec.ts
Due: npm run lint

refactor(env): move GOOGLE_APPLICATION_CREDENTIALS to a dedicated service
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/environment/services/environment-validity-check.service.spec.ts
  src/features/environment/services/environment-validity-check.service.ts
  src/features/firebase/services/firebase-app.service.spec.ts
  src/features/firebase/services/firebase-app.service.ts
  src/features/init/services/init.service.ts
Due: npm run lint

chore(env): add SHOULD_DISPLAY_MORE_DEBUG_LOGS env variable
  .env
  CONTRIBUTING.md
  src/features/environment/services/environment-validity-check.service.spec.ts
  src/features/environment/services/environment-validity-check.service.ts
Due: npm run lint, npm run prettier

chore(logs): ignore some logs based on the new env option
  package.json
  src/features/discord/guilds/services/discord-guild-sonia.service.ts
  src/features/discord/messages/services/discord-message.service.ts
  src/features/discord/messages/services/helpers/discord-message-error.service.ts
  src/features/environment/services/environment-validity-check.service.spec.ts
  src/features/environment/services/environment-validity-check.service.ts
Due: npm run lint, npm run prettier

chore(errors): add a better catch of errors to avoid loosing the error
  src/features/init/services/init.service.ts
Due: npm run lint

chore(typings): add more logs on error
  src/features/discord/channels/services/discord-channel-typing.service.spec.ts
  src/features/discord/channels/services/discord-channel-typing.service.ts
Due: npm run lint

chore(deps): update dependency @semantic-release/github to v7.2.2
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency dotenv to v9
  package-lock.json
  package.json
Due: npm run prettier

test(fix): fix failing test
  src/features/discord/channels/services/discord-channel-typing.service.spec.ts
Due: npm run lint

chore(config): add the new extra debug log options as part of the logger config
  src/features/logger/enums/logger-config-value-name.enum.spec.ts
  src/features/logger/enums/logger-config-value-name.enum.ts
  src/features/logger/interfaces/logger-config.ts
  src/features/logger/services/config/logger-config-core.service.spec.ts
  src/features/logger/services/config/logger-config-core.service.ts
  src/features/logger/services/config/logger-config-mutator.service.spec.ts
  src/features/logger/services/config/logger-config-mutator.service.ts
  src/features/logger/services/config/logger-config.service.spec.ts
  src/features/logger/services/config/logger-config.service.ts
Due: npm run lint

chore(config): store the env debug logs var into the logger config
  src/features/discord/guilds/services/discord-guild-sonia.service.ts
  src/features/discord/messages/services/discord-message.service.ts
  src/features/discord/messages/services/helpers/discord-message-error.service.ts
  src/features/environment/services/environment-validity-check.service.spec.ts
  src/features/environment/services/environment-validity-check.service.ts
Due: npm run lint

chore(deps): update dependency dotenv to v8.6.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency husky to v6
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency ts-jest to v26.5.6
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update typescript-eslint monorepo to v4.22.1
  package-lock.json
  package.json
Due: npm run prettier

chore(husky): migrate the config to v6
  .husky/.gitignore
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
  .huskyrc
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency husky to v5
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-jsdoc to v33.1.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency lint-staged to v11
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @semantic-release/github to v7.2.3
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency concurrently to v6.1.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint to v7.26.0
  package-lock.json
  package.json
Due: npm run prettier

chore(eslint): enable no-undef error rule
  .eslintrc.yml
  package.json
  src/features/discord/guilds/services/discord-guild-create.service.spec.ts
  src/features/discord/guilds/services/discord-guild-create.service.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-disabled.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-enabled.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-disabled.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-enabled.spec.ts
  src/features/firebase/services/__mocks__/firebase-app.service.ts
  src/features/firebase/services/firebase-app.service.spec.ts
  src/features/firebase/services/firebase-app.service.ts
  src/features/firebase/services/firebase.service.spec.ts
  src/features/firebase/services/firebase.service.ts
  src/features/firebase/services/guilds/__mocks__/firebase-guilds.service.ts
  src/features/firebase/services/guilds/channels/features/noon/firebase-guilds-channels-features-noon-enabled.service.spec.ts
  src/features/firebase/services/guilds/channels/features/noon/firebase-guilds-channels-features-noon-enabled.service.ts
  src/features/firebase/services/guilds/channels/features/release-notes/firebase-guilds-channels-features-release-notes-enabled.service.spec.ts
  src/features/firebase/services/guilds/channels/features/release-notes/firebase-guilds-channels-features-release-notes-enabled.service.ts
  src/features/firebase/services/guilds/firebase-guilds-breaking-change.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-breaking-change.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
  src/features/firebase/services/guilds/firebase-guilds.service.spec.ts
  src/features/firebase/services/guilds/firebase-guilds.service.ts
  src/features/init/services/init.service.ts
Due: npm run lint, npm run prettier

chore(package): remove useless flag for jest
  package.json
Due: npm run prettier

chore(deps): update dependency @types/node to v14.14.44
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency commitizen to v4.2.4
  package-lock.json
  package.json
Due: npm run prettier

chore(linter): configure padding-line-between-statements rule
  .eslintrc.yml
  scripts/build-environment-copy.js
  scripts/build-environment-create.js
  scripts/build-environment-rewrite-path.js
  scripts/build-firebase-service-account-copy.js
  scripts/build-firebase-service-account-create.js
  scripts/build-update-app-initialization-date.js
  scripts/chalk.js
  scripts/create-secret-environment.js
  scripts/logger.js
  src/features/discord/messages/services/discord-message.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint, npm run prettier

chore(deps): update dependency fs-extra to v10
  package-lock.json
  package.json
Due: npm run prettier

chore(linter): configure rxjs rules
  .eslintrc.yml
Due: npm run prettier

refactor(firebase): make an init method return a promise instead of void
  src/features/firebase/services/firebase.service.ts
  src/features/firebase/stores/guilds/services/firebase-guilds-store.service.spec.ts
  src/features/firebase/stores/guilds/services/firebase-guilds-store.service.ts
Due: npm run lint
