Repository Sonia-corporation/sonia-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

chore(deps): update dependency firebase-admin to v9.8.0
  package-lock.json
  package.json
Due: npm run prettier

refactor(lint): refactor some imports due to new release
  src/features/config/services/config.service.spec.ts
  src/features/config/services/config.service.ts
  src/features/discord/activities/constants/discord-presence-activity.spec.ts
  src/features/discord/emotional-states/services/discord-sonia-emotional-state.service.ts
  src/features/discord/messages/classes/commands/flags/discord-command-boolean-flag.spec.ts
  src/features/discord/messages/classes/commands/flags/discord-command-flag.ts
  src/features/discord/messages/classes/commands/flags/discord-command-flags.spec.ts
  src/features/discord/messages/classes/commands/flags/discord-command-valueless-flag.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-disabled.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-enabled.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-humanize.spec.ts
  src/features/discord/messages/services/command/feature/features/noon/classes/discord-message-command-feature-noon-status.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-humanize.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/classes/discord-message-command-feature-release-notes-status.spec.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.spec.ts
  src/features/firebase/functions/guilds/channels/features/handle-firebase-guild-channel-feature-breaking-change.ts
  src/features/firebase/functions/guilds/channels/handle-firebase-guild-channel-breaking-change.ts
  src/features/firebase/functions/guilds/handle-firebase-guild-breaking-change.ts
  src/features/firebase/services/guilds/channels/features/firebase-guilds-channels-features.service.spec.ts
  src/features/firebase/services/guilds/channels/features/firebase-guilds-channels-features.service.ts
  src/features/firebase/services/guilds/channels/features/noon/firebase-guilds-channels-features-noon-enabled.service.spec.ts
  src/features/firebase/services/guilds/channels/features/noon/firebase-guilds-channels-features-noon.service.spec.ts
  src/features/firebase/services/guilds/channels/features/noon/firebase-guilds-channels-features-noon.service.ts
  src/features/firebase/services/guilds/channels/features/release-notes/firebase-guilds-channels-features-release-notes-enabled.service.spec.ts
  src/features/firebase/services/guilds/channels/features/release-notes/firebase-guilds-channels-features-release-notes.service.spec.ts
  src/features/firebase/services/guilds/channels/firebase-guilds-channels.service.spec.ts
  src/features/firebase/services/guilds/channels/firebase-guilds-channels.service.ts
  src/features/logger/services/logger.service.ts
Due: npm run lint

chore(deps): update dependency typescript to v4.2.4
  package-lock.json
  package.json
Due: npm run prettier

build(version): build with node 14.17 and npm 7
  .github/workflows/build.yml
  .github/workflows/mutant.yml
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-import to v2.23.1
  package-lock.json
  package.json
Due: npm run prettier

refactor(release-notes): change the config to have a sub-level for the color and image
  src/features/discord/interfaces/discord-message-command-release-notes-config.ts
  src/features/discord/interfaces/discord-message-command-release-notes-mixed-config.ts
  src/features/discord/messages/enums/discord-message-config-value-name.enum.spec.ts
  src/features/discord/messages/enums/discord-message-config-value-name.enum.ts
  src/features/discord/messages/services/command/release-notes/discord-message-command-release-notes.service.spec.ts
  src/features/discord/messages/services/command/release-notes/discord-message-command-release-notes.service.ts
  src/features/discord/messages/services/config/discord-message-config-core.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-core.service.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.ts
  src/features/discord/messages/services/config/discord-message-config.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config.service.ts
Due: npm run lint

refactor(release-type): use a better type for the responses and simplify the code
  src/features/app/types/app-release-type-responses.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint

feat(release-notes): add a dedicated UI per release type
  src/constants/colors/numerical-color-dead.spec.ts
  src/constants/colors/numerical-color-dead.ts
  src/enums/color.enum.spec.ts
  src/enums/color.enum.ts
  src/enums/icon.enum.spec.ts
  src/enums/icon.enum.ts
  src/features/app/types/app-release-type-responses-factory-pattern.ts
  src/features/app/types/app-release-type-responses.ts
  src/features/discord/interfaces/discord-message-command-release-notes-bug-fixes-config.ts
  src/features/discord/interfaces/discord-message-command-release-notes-config.ts
  src/features/discord/interfaces/discord-message-command-release-notes-features-config.ts
  src/features/discord/interfaces/discord-message-command-release-notes-performance-improvements-config.ts
  src/features/discord/interfaces/discord-message-command-release-notes-unknown-config.ts
  src/features/discord/messages/enums/discord-message-config-value-name.enum.spec.ts
  src/features/discord/messages/enums/discord-message-config-value-name.enum.ts
  src/features/discord/messages/services/command/release-notes/discord-message-command-release-notes.service.spec.ts
  src/features/discord/messages/services/command/release-notes/discord-message-command-release-notes.service.ts
  src/features/discord/messages/services/config/discord-message-config-core.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-core.service.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.ts
  src/features/discord/messages/services/config/discord-message-config.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config.service.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.ts
Due: npm run lint

chore(release-notes): use the unknown UI for the release notes feature
  src/features/discord/messages/services/command/feature/features/release-notes/services/config/discord-message-command-feature-release-notes-config-core.service.ts
  src/features/discord/messages/services/command/feature/features/release-notes/services/config/discord-message-command-feature-release-notes-config-mutator.service.spec.ts
  src/features/discord/messages/services/command/feature/features/release-notes/services/config/discord-message-command-feature-release-notes-config-mutator.service.ts
Due: npm run lint

build(release): new version 1.97.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

Notes added by 'git notes add'
  78/36e427ef05f72538c39f61998c7a3bce5404bb
Due: none

chore(quote): add the api key into the secret environment
  CONTRIBUTING.md
  scripts/create-secret-environment.js
Due: npm run lint, npm run prettier

chore(quote): add the api key into the environment
  .github/workflows/build.yml
  scripts/build-environment-create.js
Due: npm run lint, npm run prettier

chore(quote): add config services
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/quote/enums/quote-config-value-name.enum.spec.ts
  src/features/quote/enums/quote-config-value-name.enum.ts
  src/features/quote/interfaces/quote-config.ts
  src/features/quote/services/quote-config-core.service.spec.ts
  src/features/quote/services/quote-config-core.service.ts
  src/features/quote/services/quote-config-mutator.service.spec.ts
  src/features/quote/services/quote-config-mutator.service.ts
  src/features/quote/services/quote-config.service.spec.ts
  src/features/quote/services/quote-config.service.ts
Due: npm run lint

chore(quote): configure from env to mutator on init
  src/environment/constants/environment.spec.ts
  src/environment/constants/environment.ts
  src/environment/interfaces/environment-quote.ts
  src/environment/interfaces/environment.ts
  src/features/init/services/init.service.ts
Due: npm run lint

refactor(quote): move the services into a config folder
  src/features/init/services/init.service.ts
  src/features/quote/services/config/quote-config-core.service.spec.ts
  src/features/quote/services/config/quote-config-core.service.ts
  src/features/quote/services/config/quote-config-mutator.service.spec.ts
  src/features/quote/services/config/quote-config-mutator.service.ts
  src/features/quote/services/config/quote-config.service.spec.ts
  src/features/quote/services/config/quote-config.service.ts
Due: npm run lint

chore(quote): add the image color and url into the config
  src/enums/icon.enum.spec.ts
  src/enums/icon.enum.ts
  src/features/quote/enums/quote-config-value-name.enum.spec.ts
  src/features/quote/enums/quote-config-value-name.enum.ts
  src/features/quote/interfaces/quote-config.ts
  src/features/quote/services/config/quote-config-core.service.spec.ts
  src/features/quote/services/config/quote-config-core.service.ts
  src/features/quote/services/config/quote-config-mutator.service.spec.ts
  src/features/quote/services/config/quote-config-mutator.service.ts
  src/features/quote/services/config/quote-config.service.spec.ts
  src/features/quote/services/config/quote-config.service.ts
Due: npm run lint

chore(author): add an author icon url into the config
  src/enums/icon.enum.spec.ts
  src/enums/icon.enum.ts
  src/features/quote/enums/quote-config-value-name.enum.spec.ts
  src/features/quote/enums/quote-config-value-name.enum.ts
  src/features/quote/interfaces/quote-config.ts
  src/features/quote/services/config/quote-config-core.service.spec.ts
  src/features/quote/services/config/quote-config-core.service.ts
  src/features/quote/services/config/quote-config-mutator.service.spec.ts
  src/features/quote/services/config/quote-config-mutator.service.ts
  src/features/quote/services/config/quote-config.service.spec.ts
  src/features/quote/services/config/quote-config.service.ts
Due: npm run lint

chore(quote): add services to call the quote api
  .idea/il-est-midi.iml
  src/features/quote/constants/quote-api-url.spec.ts
  src/features/quote/constants/quote-api-url.ts
  src/features/quote/interfaces/quote-of-the-day-api.ts
  src/features/quote/interfaces/quote.ts
  src/features/quote/services/quote-api.service.ts
  src/features/quote/services/quote-random.service.ts
Due: npm run lint

chore(quote): add a service to generate a message response for the quote
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/messages/services/command/quote/services/discord-message-command-quote.service.ts
  src/features/quote/services/quote-api.service.ts
Due: npm run lint

feat(quote): add a new command "quote"
  src/features/discord/messages/enums/commands/discord-message-command.enum.spec.ts
  src/features/discord/messages/enums/commands/discord-message-command.enum.ts
  src/features/discord/messages/services/command/discord-message-command.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command.service.ts
Due: npm run lint

chore(help-command): include the quote command in the help command
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.ts
Due: npm run lint

docs(readme): add docs for the quote command
  README.md
Due: npm run prettier

chore(quote): add logs
  src/features/discord/messages/services/command/quote/services/discord-message-command-quote.service.ts
  src/features/quote/services/quote-api.service.ts
  src/features/quote/services/quote-random.service.ts
Due: npm run lint

chore(quote): send api errors to discord
  src/features/quote/services/quote-api.service.ts
Due: npm run lint

refactor(error): add an abstract message error service
  src/features/discord/messages/services/helpers/discord-command-error-core.service.ts
  src/features/discord/messages/services/helpers/discord-message-error.service.ts
Due: npm run lint

chore(quote): add quote api error handling
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/messages/services/command/quote/services/discord-message-command-quote.service.ts
  src/features/quote/functions/is-quote-error-api.spec.ts
  src/features/quote/functions/is-quote-error-api.ts
  src/features/quote/interfaces/quote-error-api.ts
  src/features/quote/services/quote-api.service.ts
  src/features/quote/services/quote-error-api.service.ts
  src/features/quote/services/quote-random.service.ts
Due: npm run lint

chore(quote): handle the internal error of the api by sending messages
  src/features/discord/messages/services/helpers/discord-message-error.service.ts
  src/features/quote/enums/quote-error-api-error-code.enum.ts
  src/features/quote/interfaces/quote-error-api.ts
  src/features/quote/services/quote-error-api.service.ts
Due: npm run lint

chore(deps): update typescript-eslint monorepo to v4.24.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/node to v14.17.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint-plugin-rxjs to v3.3.1
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency ts-auto-mock to v3.2.1
  package-lock.json
  package.json
Due: npm run prettier

test(icon): fix failing test
  src/enums/icon.enum.spec.ts
Due: npm run lint

refactor(mocks): use more complete mock generators
  src/features/discord/messages/services/responses/discord-message-any-question-pineapple-pizza.service.spec.ts
  src/features/discord/messages/services/responses/discord-message-simple-basic.service.spec.ts
Due: npm run lint

chore(deps): update dependency ts-auto-mock to v3.2.2
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency @types/lodash to v4.14.170
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency eslint to v7.27.0
  package-lock.json
  package.json
Due: npm run prettier

chore(deps): update dependency dotenv to v10
  package-lock.json
  package.json
Due: npm run prettier

test(mocks): fix some errors due to hydrated mocks
  .idea/il-est-midi.iml
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/firebase/functions/guilds/channels/upgrade-firebase-guild-channel-to-v2.spec.ts
  src/features/firebase/functions/guilds/handle-firebase-guild-breaking-change.spec.ts
  src/features/firebase/functions/guilds/upgrade-firebase-guild-to-v5.spec.ts
  src/features/firebase/services/guilds/firebase-guilds-new-version.service.spec.ts
Due: npm run lint

Path conditions:
  npm run lint: any of: *.{ts,js}
  npm run prettier: any of: *.{md,json,yml}
